<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="text-center mt-4 mb-2">Sign in or create an account</h3>

  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label position="floating">Username or email address</ion-label>
      <ion-input [(ngModel)]="form.account"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="form.password"></ion-input>
    </ion-item>
    <ion-item class="mt-2">
      <ion-checkbox
        color="secondary"
        slot="start"
        [(ngModel)]="checkedMe"
        (ionChange)="onChanged()"
      ></ion-checkbox>
      <ion-label>Remenber account info</ion-label>
    </ion-item>
  </ion-list>

  <section class="p-4 mt-2">
    <ion-button expand="block" shape="round" (click)="onSignIn()"
      >Sign in</ion-button
    >
  </section>
</ion-content>
