<div class="page-pl-detail">
  <h4 class="flex pb-3">
    <div class="action-back mr-1" @click="hrefBack"><i class="mt-icon arrow_back"></i></div>
    <div class="flex-1">详情 - {{title}}</div>
  </h4>
  <div class="col-8" v-if="item">
    <div class="form-group row" v-for="(v,k) in item">
      <label for="form.name" class="col-sm-3 col-form-label">{{k}}</label>
      <div class="col-sm-9">
        <div class="form-control form-control-textarea monospaced-font">{{v}}</div>
      </div>
    </div>
  </div>
</div>
