<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--div class="deg-box">
    <div class="deg-item" *ngFor="let v of degArr; let i = index" [class]="'deg-' + i + 'h'"><div class="i1 wh100"><div class="i2 wh100 deg-1h" [style]="'background-color: ' + (i % 2 == 0 ? 'blue': 'green')"></div></div></div>
  </div-->
  <div class="main">
    <div class="search">
      <ion-input  [(ngModel)]="kw"></ion-input>
      <ion-icon name="search" class="me-1 icon-search" (click)="search()"> </ion-icon>
    </div>
  </div>
</ion-content>