// .deg-box {
//   width: 200px;
//   height: 200px;
//   overflow: hidden;
//   position: relative;
//   border-radius: 100%;
//   background-color: #eee;

//   .wh100 {
//     width: 100%;
//     height: 100%;
//     position: relative;
//     overflow: hidden;

//   }

//   .deg-item {
//     position: absolute;
//     left: -15%;
//     top: -15%;
//     width: 130%;
//     height: 130%;
//     overflow: hidden;

//     .i1 {
//       top: -50%
//     }

//     .i2 {
//       top: 100%;
//     }
//   }
// }

// @for $i from 0 to 49 {
//   .deg-#{$i}h {
//     transform: rotate(#{$i * 7.5}deg) !important;
//     -ms-transform: rotate(#{$i * 7.5}deg) !important;
//     -moz-transform: rotate(#{$i * 7.5}deg) !important;
//     -webkit-transform: rotate(#{$i * 7.5}deg) !important;
//     -o-transform: rotate(#{$i * 7.5}deg) !important;
//   }
// }
:root {
}
.main {
  .search {
    margin: 20px 25px;
    position: relative;
    ion-input {
      border-radius: 3px;
      border: 1px solid #ccc;
      --padding-top: 5px;
      --padding-bottom: 5px;
      z-index: 0;
      position: relative;
      input {
        padding: 10px 0;
      }
    }
    .icon-search{
      position: absolute;
      right: 7px;
      top: 7px;
      z-index: 1;
      font-size: 20px;
    }
  }
}
