<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>likes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ng-container *ngFor="let item of reqData">
      <ion-card>
        <div (click)="hrefTo('/calendar', false, {uid: item.uid, bid: item.id})">
          <ng-container
            *ngFor="let img of splitImages(item.images); let ii = index"
          >
            <img [src]="file(img)" *ngIf="ii == 0" />
          </ng-container>
          <ion-card-header>
            <ion-card-subtitle
              >{{item.month_cell}}</ion-card-subtitle
            >
            <ion-card-title>{{item.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content [innerHTML]="htmlContent(item.content)"></ion-card-content>
        </div>
        <div class="flex px-3 mb-3">
          <div class="flex-1">
            <ion-button
              size="small"
              [fill]="$isLogin ? 'solid' : 'outline'"
              shape="round"
              (click)="hrefTo('/calendar', false, {uid: item.uid, bid: item.id})"
              >SEE CALENDAR</ion-button
            >
          </div>
          <ion-icon name="heart" class="me-1 f12" [ngClass]="{red:item.fabulous == 'yes'}" (click)="like(item)"> </ion-icon>
          <div>{{item.likes}}</div>
        </div>
      </ion-card>
    </ng-container>

    <ion-infinite-scroll threshold="20px" (ionInfinite)="loaderMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
