<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>My profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-my-create">
  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label position="floating">Nickname</ion-label>
      <ion-input [(ngModel)]="form.nickname"></ion-input>
    </ion-item>
  </ion-list>
  <div class="p-3 pb-1">Head image</div>
  <!-- <div class="p-3">Provide an image that illustrates your calendar</div> -->
  <div class="form-images ps-3 pe-3 pb-3 clr">
    <div class="cell" *ngIf="form.head_image">
      <img
        class="cell-image"
        [src]="file2(form.head_image)"
        alt=""
        (click)="uploadFile()"
      />
      <span class="tag-close" (click)="form.head_image = ''">
        <ion-icon name="close-outline"></ion-icon
      ></span>
    </div>
    <div class="cell" *ngIf="!form.head_image" (click)="uploadFile()">
      <div class="inner">
        <ion-icon name="add-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="p-4 mt-2">
  <ion-button expand="block" shape="round" (click)="submitFormEdit()"
    >Save</ion-button
  >
</ion-footer>
