.cell {
  position: relative;
  display: inline-block;
  height: 100px;
  font-size: 2rem;
  color: gray;
  text-align: center;
  margin: 8px;
  border-radius: 6px;
  overflow: hidden;

  img {
    display: inline-block;
    width: 100%;
    z-index: 1;
  }

  .inner {
    border: 1px solid #aaa;
    width: 100%;
    height: 100%;
    line-height: 100px;
    font-size: 2rem;
    color: #999;
  }

  .tag-close {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 36px;
    padding: 3px 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 1.2rem;
    border-radius: 3px;
    z-index: 2;
  }
}

.form-images {
  .cell {
    display: block;
    height: 200px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;

    img {
      display: block;
      width: 100%;
    }
  }
}
