.page-home {
  width: 100%;
  height: 100%;
  background-color: #555;
  background-size: cover;
  background-image: url(./../../../assets/images/auth/cyber-monday-sale-calendar-clock.jpg);
  background-repeat: no-repeat;

  .auth-box {
    min-width: 500px;
    margin-right: 120px;
    padding: 64px 64px 40px 64px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .brand-logo {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .form-group {
    .mt-icon {
      font-size: 1.3rem;
    }
  }

  .auth-form-btn {
    width:  100%;
    padding: 0.75rem 0;
    margin-top: 16px;
    margin-bottom: 32px;
  }
}
