<div class="page-home">
    <!-- <div class="bg"></div> -->
    <div class="ibody">
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                    <div class="row flex-grow">
                        <div class="col-lg-6 login-half-bg d-flex flex-row"></div>
                        <div class="col-lg-6 d-flex align-items-center justify-content-center">
                            <div class="auth-form-transparent text-left p-3">
                                <div class="brand-logo">S.E.TECH</div>
                                <h6 class="font-weight-light">Base manage system</h6>
                                <div class="pt-3">
                                    <div class="form-group">
                                        <label for="forInputEmail">账户</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text border-right-0">
                                                    <i class="ti-user text-primary"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control form-control-lg border-left-0 form-input"
                                                id="forInputEmail"  v-model="ruleForm.account" placeholder="账号/手机号/邮箱">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="forInputPassword">密码</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text border-right-0">
                                                    <i class="ti-lock text-primary"></i>
                                                </span>
                                            </div>
                                            <input type="password" class="form-control form-control-lg border-left-0 form-input"
                                                id="forInputPassword" v-model="ruleForm.password" placeholder="密码">
                                        </div>
                                    </div>
                                    <div class="my-2 d-flex justify-content-between align-items-center">
                                        <div class="form-check">
                                            <label class="form-check-label text-muted">
                                                <input type="checkbox" class="form-check-input" :checked="checkedMe" @change="changeCheckedMe">
                                                <i class="input-helper"></i>
                                                保持登录
                                            </label>
                                        </div>
                                        <div class="auth-link text-black a-link" @click="forgetPassword()">忘记密码?</div>
                                    </div>
                                    <div class="my-3">
                                        <button type="button" class="btn btn-block btn-primary btn-lg auth-form-btn"
                                            @click="submitForm()">登录</button>
                                    </div>
                                    <div class="text-center mt-4 font-weight-light">
                                        没有账户? <a href="#" class="text-primary">创建</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
    </div>
</div>