.page-home {
  width: 100%;
  height: 100%;

  .ibody,
  .container-scroller {
    width: 100%;
    min-height: 100%;
  }

  .brand-logo {
    font-size: 1.6rem;
    font-family: LCD;
    color: #000;
    font-weight: bold;
  }

  .content-wrapper {
    .row {
      padding: 0;
      margin: 0;
    }
  }

  .input-group-text {
    background-color: #fff !important;
    font-size: 1.2rem;
  }

  .auth-form-btn {
    font-size: 1.2rem !important;
    font-weight: 600;
  }

  .form-input {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
