.component--header {
  .nav-header {
    padding: 1.2rem 1.2rem;
  }

  .btn-heaer-light {
    background-color: #fff;
    color: #000;
    border: none;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
  }

  .btn {
    font-size: 1.1rem;
    font-weight: 600;
    height: 40px;
    padding: 0 1.4rem;
    margin-left: 1rem;

    .mt-icon {
      margin-right: 4px;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .btn-image {
    padding: 0;
    img {
      display: inline-block;
      width: 18px;
      height: 18px;
    }
  }

  .select-dl {
    width: 40px;
  }
}
