<div class="component--header">
  <div class="nav-header flex">
    <div class="flex-1"></div>
    <button class="btn btn-secondary btn-heaer-light flex"><i class="mt-icon info"></i><span>BAO</span></button>
    <button class="btn btn-secondary btn-heaer-light">Connect Wallet</button>
    <button class="btn btn-image select-dl btn-heaer-light"><img src="../../../assets/images/header/sun.png" alt="" /></button>
  </div>
</div>
