<div id="page-pl-app-add_or_update">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4
            class="card-title d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between"
          >
            <span>应用 - 密钥</span>
            <span class="a-blue a-link">
              <i class="ti-angle-double-left menu-icon"></i>
              <span class="menu-title" @click="hrefBack">返回</span>
            </span>
          </h4>
          <div class="col-md-8">
            <template v-if="item">
              <div class="form-group">
                <label for="form.name">BA公钥[<span class="a-link" @click="onCopy('key_01', 'click_key_01')" id="click_key_01">点击复制</span>]</label>
                <div class="select-key monospaced-font" id="key_01" @click="onCopy('key_01', 'key_01')">{{ntf(item.public_key)}}</div>
              </div>
              <div class="form-group">
                <label for="form.name">应用自身公钥[<span class="a-link" @click="onCopy('key_02', 'click_key_02')" id="click_key_02">点击复制</span>]</label>
                <div class="select-key monospaced-font" id="key_02" @click="onCopy('key_02', 'key_02')">{{ntf(item.public_key_client)}}</div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
