@font-face {
  font-family: 'LCD';
  src: url('./assets/fonts/lcd/lcd.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/lcd/lcd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./assets/fonts/lcd/lcd.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/lcd/lcd.ttf') format('truetype'); /* Safari, Android, iOS */
}

.tr-selected {
  border-top: 2px dotted #333 !important;
  border-bottom: 2px dotted #333 !important;

  td {
    font-weight: bold !important;
    color: #000 !important;
    border-color: transparent !important;
  }

  .f12 {
    font-size: 1.2rem;
  }

  .f14 {
    font-size: 1.4rem;
  }

  .f16 {
    font-size: 1.6rem;
  }
}

/* all */

input::-webkit-input-placeholder {
  font-size: 1rem !important;
  font-weight: normal !important;
}

input:-moz-placeholder {
  font-size: 1rem !important;
  font-weight: normal !important;
}

input::-moz-placeholder {
  font-size: 1rem !important;
  font-weight: normal !important;
}

input:-ms-input-placeholder {
  font-size: 1rem !important;
  font-weight: normal !important;
}

