$color-primary: #2864C4;
$color-primary-apl: rgba(13, 109, 253, 0.2);

// 后端界面最小宽度
$console-container-max-width: 1300px;
$console-background-color: #f0f0f0;

// 头部栏
$header-background-color: #1b57b8;
$header-height: 60px; // 头部导航栏高度
$header-box-shadow: 0 2px 6px -2px rgb(0 0 0 / 16%), 0 2px 6px 0 rgb(0 0 0 / 12%);

// 左侧菜单栏
$menu-width: 18.5rem;
$menu-border-right: 1px solid #d0d0d0;
$menu-box-shadow: 0 2px 6px -2px rgb(0 0 0 / 16%), 0 2px 6px 0 rgb(0 0 0 / 12%);

// link-bar
$link-bar-height: 40px;
$link-bar-background-color: #fff;
$link-bar-close-width: 20px;
$link-bar-width: 10rem;
$link-bar-item-background-color: #fff;
$link-bar-item-color-selected: #fff;
$link-bar-item-border-color-selected: #fff;
$link-bar-item-background-color-selected: #2864C4;

// footer
$foot-height: 50px;
