.app-my-create {
    .cell {
      position: relative;
      display: inline-block;
      height: 100px;
      font-size: 2rem;
      color: gray;
      text-align: center;
      margin: 8px;
      border-radius: 6px;
      overflow: hidden;
  
      img {
        display: inline-block;
        width: 100%;
        z-index: 1;
      }
  
      .inner {
        border: 1px solid #aaa;
        width: 100%;
        height: 100%;
        line-height: 100px;
        font-size: 2rem;
        color: #999;
      }
  
      .tag-close {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 36px;
        padding: 3px 0;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        text-align: center;
        line-height: 20px;
        font-size: 1.2rem;
        border-radius: 3px;
        z-index: 2;
      }
    }
  
    .form-images {
      .cell {
        display: block;
        height: 100px;
        border-radius: 6px;
        overflow: hidden;
        position: relative;
  
        img {
          display: block;
          width: 100%;
        }
      }
    }
  
    .form-datetime {
      line-height: 2rem;
      height: 2rem;
      border: 1px solid #d2d2d2;
      min-width: 200px;
      display: inline-block;
    }
  }
  
  .dt {
    .dt-bar {
      height: 40px;
  
      padding: 4px 16px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #eee;
  
      ion-icon {
        font-size: 1.4rem;
        padding: 2px 5px;
      }
    }
  
    .dt-cells {
      padding: 8px;
  
      .dt-cell {
        height:68px;
        overflow: hidden;
  
        margin: 0 4px;
        padding: 16px 0;
        background-color: #ccc;
        border: 1px solid #d2d2d2;
        text-align: center;
        font-size: 1.6rem;
        color: #888;
  
        position: relative;
  
        img {
          position: absolute;
          display: block;
          left: 0;
          top: 0;
          width: 100%;
        }
  
        ion-icon {
          position: absolute;
          right: 2px;
          top: 2px;
          font-size: 1.4rem;
        }
  
        ion-icon.sel {
          color: green !important;
        }
      }
    }
  }
  