<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-my-create">
  <div class="p-3">
    <h3>{{modelTitle}}  Calendar to Share</h3>
  </div>

  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label position="floating">Name of Calendar</ion-label>
      <ion-input [(ngModel)]="form.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Describe location and imagery</ion-label>
      <ion-textarea [(ngModel)]="form.content" rows="6"></ion-textarea>
    </ion-item>
  </ion-list>
  <div class="p-3">
    Provide an image that illustrates your calendar
  </div>
  <div class="form-images p-3 clr">
    <ng-container *ngIf="imagesArr && imagesArr.length > 0">
      <div class="cell" *ngFor="let item of imagesArr">
        <img
          class="cell-image"
          [src]="file(item)"
          alt=""
          (click)="uploadFile()"
        />
        <span class="tag-close" (click)="onRemove(item)">
          <ion-icon name="close-outline"></ion-icon
        ></span></div
    ></ng-container>
    <div
      class="cell"
      *ngIf="!imagesArr || imagesArr.length < 1"
      (click)="uploadFile()"
    >
      <div class="inner">
        <ion-icon name="add-outline"></ion-icon>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer class="p-4 mt-2">
  <ion-button expand="block" shape="round" (click)="submitFormEdit()"
    >{{modelButton}}</ion-button
  >
</ion-footer>
