<div id="page-pl-app-add_or_update">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4
            class="card-title d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between">
            <span>角色 - {{modelTitle}}</span>
            <span class="a-blue a-link">
              <i class="ti-angle-double-left menu-icon"></i>
              <span class="menu-title" @click="hrefBack">返回</span>
            </span>
          </h4>
          <div class="col-6">
            <form class="forms-sample">
              <div class="form-group">
                <label for="form.name">名称</label>
                <input id="form.name" v-model="form.name" placeholder="请输入" type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label for="form.user_type">角色类型</label>
                <input id="form.user_type" v-model="form.user_type" placeholder="请输入" type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label for="form.auth_paths">权限值</label>
                <textarea
                  id="form.auth_paths"
                  v-model="form.auth_paths"
                  placeholder="请输入"
                  class="form-control"
                  rows="4"
                ></textarea>
              </div>
              <button type="button" class="btn btn-primary mr-2" @click="submitFormEdit">{{modelButton}}</button>
              <button type="button" class="btn btn-light" @click="hrefBack">取消</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>