<div class="modal fade modal-hello2" id="modaHello2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title<span class="debug-tag" :class="[showDebugTag ? 'show' : 'hide']" title="@#modal0126">@#modal0126</span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          2342352354
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-sm btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  