<div id="page-pl-app-list">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h4 class="font-weight-bold mb-0">应用</h4>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-primary btn-icon-text btn-rounded btn-sm"
            @click="hrefTo('/platform/app/add_or_update', true)"
          >
            <i class="ti-plus btn-icon-prepend"></i>创建
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            列表
          </h4>
          <div class="table-responsive">
            <table class="table table-striped text-nowrap">
              <thead>
                <tr>
                  <th width="70">ID</th>
                  <th class="col-2">操作</th>
                  <th>公钥</th>
                  <th>进入</th>
                  <th>图标</th>
                  <th>名称</th>
                  <th>模块KEY</th>
                  <th>状态</th>
                  <th class="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,i) in reqData" @click="toggleTr">
                  <td width="70">{{item.id}}</td>
                  <td class="col-2">
                    <button
                      type="button"
                      class="btn btn-sm btn-primary"
                      @click="hrefTo('/platform/app/add_or_update', true, {id: item.id})"
                    >
                      编辑
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm"
                      @click="hrefTo('/platform/detail', true, {
                        path: '/api/master/v1/app/detail', 
                        title: '应用: ' + item.name, 
                        id: item.id
                      })"
                    >
                      详情
                    </button>
                  </td>
                  <td>
                    <span
                      class="btn btn-primary btn-sm"
                      @click="hrefTo('/platform/app/keys', true, {
                        id: item.id
                      })"
                    >
                      公钥
                    </span>
                  </td>
                  <td>
                    <button type="button" class="btn btn-sm btn-outline-primary" @click="loginTo(item)">
                      登录应用后台
                    </button>
                  </td>
                  <td class="py-1">
                    <img :src="fruitPath(item.id)" alt="image" />
                  </td>
                  <td>{{item.name}}</td>
                  <td>{{item.module}}</td>
                  <td>
                    <span v-if="item.status==10" class="badge badge-success">正常</span>
                    <span v-else-if="item.status==0" class="badge badge-danger">禁止</span>
                    <span v-else class="badge badge-info">{{item.status}}</span>
                  </td>
                  <td class="col"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mt-4 d-flex justify-content-between align-items-center" v-if="pgn">
            <p class="text-muted">总记录<mark class="font-weight-bold">{{pgn.total}}</mark>条</p>
            <nav v-if="pgn.total_page > 1">
              <ul class="pagination">
                <li class="page-item" v-if="pgn.link_prev!=pgn.current_page">
                  <span class="page-link a-link" tabindex="-1">上一页</span>
                </li>
                <template v-for="(item,i) in pgn.links">
                  <template v-if="item!='.'">
                    <li class="page-item" :class="{active: item==pgn.current_page}">
                      <span class="page-link a-link">{{item}}</span>
                    </li>
                  </template>
                  <li class="page-item disabled" v-else>
                    <span class="page-link a-link">...</span>
                  </li>
                </template>
                <li class="page-item">
                  <span class="page-link a-link" v-if="pgn.link_next!=pgn.current_page">下一页</span>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
