ion-menu-button {
  color: var(--ion-color-primary);
}

.logo-tag {
  margin-left: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

ion-button {
  --padding-start: 12px;
  --padding-end: 12px;
}

#d13413 {
  height: 200px;
}

.red{
  color: red;
}