<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-my-create">
  <div class="p-3">
    <h3>{{modelTitle}} seasons</h3>
  </div>

  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label position="floating">Name of Season</ion-label>
      <ion-textarea [(ngModel)]="form.content" rows="2"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="form.description" rows="6" placeholder="(optional)"></ion-textarea>
    </ion-item>
    <div class="rt">
      <ion-label>Month Range - 1=Jan,1.5=Mid of Jan, 2=Feb etc</ion-label>
    </div>
    <ion-item>
      <ion-range id="monthRange" [value]="monthRange" min="1" max="12" step="0.5" dual-knobs snaps color="dark" [pin]="true"  [pinFormatter]="customFormatter"></ion-range>
    </ion-item>
  </ion-list>

  <ion-list lines="full" class="ion-no-margin">
    <ion-item class="color-picker flex">
      <div class="li flex-1 me-1">
        <div
          class="in c1"
          [style]="'background-color: ' + (form.tag_bg_color ? form.tag_bg_color : 'transparent')"
        >
          Background color
        </div>
        <div class="__colorPicker1" style="height: 100px"></div>
      </div>
      <div class="li flex-1 ms-1">
        <div
          class="in c2"
          [style]="'color: ' + (form.tag_fg_color ? form.tag_fg_color : 'none')"
        >
          Foreground color
        </div>
        <div class="__colorPicker2" style="height: 100px"></div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="p-4 mt-2">
  <ion-button expand="block" shape="round" (click)="submitFormEdit()"
    >{{modelButton}}</ion-button
  >
</ion-footer>
