<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-my-create">
  <div class="p-3">
    <h3>{{modelTitle}} calendar item</h3>
  </div>

  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="form.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Content</ion-label>
      <ion-textarea [(ngModel)]="form.content" rows="6"></ion-textarea>
    </ion-item>
  </ion-list>
  <div class="form-images p-3 clr">
    <ng-container *ngIf="imagesArr && imagesArr.length > 0">
      <div class="cell" *ngFor="let item of imagesArr">
        <img
          class="cell-image"
          [src]="file(item)"
          alt=""
          (click)="uploadFile()"
        />
        <span class="tag-close" (click)="onRemove(item)">
          <ion-icon name="close-outline"></ion-icon
        ></span></div
    ></ng-container>
    <div
      class="cell"
      *ngIf="!imagesArr || imagesArr.length < 1"
      (click)="uploadFile()"
    >
      <div class="inner">
        <ion-icon name="add-outline"></ion-icon>
      </div>
    </div>
  </div>

  <div class="dt">
    <div class="dt-bar flex">
      <ion-icon name="chevron-back-outline" (click)="dtLeft()"></ion-icon>
      <div class="flex-1 text-center">{{dtTitle}}</div>
      <ion-icon name="chevron-forward-outline" (click)="dtRight()"></ion-icon>
    </div>
    <div class="dt-cells flex">
      <div class="dt-cell flex-1 DIN" (click)="selectDtCell(0)">
        <img
          [src]="file(monthItem[0].images)"
          alt=""
          *ngIf="monthItem[0] && monthItem[0].images"
        />
        <span>Early</span>
        <ion-icon
          name="checkmark-circle-outline"
          *ngIf="dtCellIndex == -1 || dtCellIndex != 0"
        ></ion-icon>
        <ion-icon
          class="sel"
          name="checkmark-circle"
          *ngIf="dtCellIndex == 0"
        ></ion-icon>
      </div>
      <div class="dt-cell flex-1 DIN" (click)="selectDtCell(1)">
        <img
          [src]="file(monthItem[1].images)"
          alt=""
          *ngIf="monthItem[1] && monthItem[1].images"
        />
        <span>Early mid</span>
        <ion-icon
          name="checkmark-circle-outline"
          *ngIf="dtCellIndex == -1 || dtCellIndex != 1"
        ></ion-icon>
        <ion-icon
          class="sel"
          name="checkmark-circle"
          *ngIf="dtCellIndex == 1"
        ></ion-icon>
      </div>
      <div class="dt-cell flex-1 DIN" (click)="selectDtCell(2)">
        <img
          [src]="file(monthItem[2].images)"
          alt=""
          *ngIf="monthItem[2] && monthItem[2].images"
        />
        <span>Late mid</span>
        <ion-icon
          name="checkmark-circle-outline"
          *ngIf="dtCellIndex == -1 || dtCellIndex != 2"
        ></ion-icon>
        <ion-icon
          class="sel"
          name="checkmark-circle"
          *ngIf="dtCellIndex == 2"
        ></ion-icon>
      </div>
      <div class="dt-cell flex-1 DIN" (click)="selectDtCell(3)">
        <img
          [src]="file(monthItem[3].images)"
          alt=""
          *ngIf="monthItem[3] && monthItem[3].images"
        />
        <span>Late</span>
        <ion-icon
          name="checkmark-circle-outline"
          *ngIf="dtCellIndex == -1 || dtCellIndex != 3"
        ></ion-icon>
        <ion-icon
          class="sel"
          name="checkmark-circle"
          *ngIf="dtCellIndex == 3"
        ></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="p-4 mt-2">
  <ion-button expand="block" shape="round" (click)="submitFormEdit()"
    >{{modelButton}}</ion-button
  >
</ion-footer>
