<div id="page-pl-app-add_or_update">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4
            class="card-title d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between">
            <span>代理人 - {{modelTitle}}</span>
            <span class="a-blue a-link">
              <i class="ti-angle-double-left menu-icon"></i>
              <span class="menu-title" @click="hrefBack">返回</span>
            </span>
          </h4>
          <div class="col-6">
            <form class="forms-sample">
              <div class="form-group">
                <label for="form.username">用户名</label>
                <input id="form.username" v-model="form.username" placeholder="请输入" type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label for="form.password">密码</label>
                <input id="form.password" v-model="form.password" placeholder="请输入" type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label for="form.rid">角色ID</label>
                <input id="form.rid" v-model="form.rid" placeholder="请输入" type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label for="form.phone">手机号</label>
                <input id="form.phone" v-model="form.phone" placeholder="请输入" type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label for="form.name">名称</label>
                <input id="form.name" v-model="form.name" placeholder="请输入" type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label for="form.address">地址</label>
                <input id="form.address" v-model="form.address" placeholder="请输入" type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label>头像</label>
                <input type="text" class="file-upload-default" />
                <div class="input-group col-xs-12">
                  <input type="text" v-model="form.head_image" class="form-control file-upload-info" disabled
                    placeholder="上传图片" @click="uploadFile" />
                  <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary" type="button" @click="uploadFile">上传</button>
                  </span>
                </div>
              </div>
              <div class="form-image-box">
                <img class="form-image" v-if="form.head_image" :src="file(form.head_image)" alt="avatar" />
              </div>
              <button type="button" class="btn btn-primary mr-2" @click="submitFormEdit">{{modelButton}}</button>
              <button type="button" class="btn btn-light" @click="hrefBack">取消</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>