<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Create account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5>welcome join us</h5>
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label> Personal Infomation</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="form.name"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label> Account Security</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Email address</ion-label>
      <ion-input [(ngModel)]="form.account"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="form.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm password</ion-label>
      <ion-input type="password" [(ngModel)]="form.rePassword"></ion-input>
    </ion-item>
    <ion-item class="mt-2">
      <ion-checkbox
        color="secondary"
        slot="start"
        [(ngModel)]="agree"
      ></ion-checkbox>
      <ion-label>I agree to the <a href="#">User Terms</a></ion-label>
    </ion-item>
  </ion-list>

  <section class="py-4 px-4">
    <ion-button expand="block" shape="round" (click)="onSubmit()"
      >Create</ion-button
    >
  </section>
</ion-content>
