<div id="page-pl-home">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h4 class="font-weight-bold mb-0">系统总览</h4>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-primary btn-icon-text btn-rounded"
          >
            <i class="ti-clipboard btn-icon-prepend"></i>报告
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title text-md-center text-xl-left">用户</p>
          <div
            class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center"
          >
            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">
              34040
            </h3>
            <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
          </div>
          <p class="mb-0 mt-2 text-danger">
            0.12%
            <span class="text-black ml-1"><small>(30 天)</small></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title text-md-center text-xl-left">管理员</p>
          <div
            class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center"
          >
            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">
              47033
            </h3>
            <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
          </div>
          <p class="mb-0 mt-2 text-danger">
            0.47%
            <span class="text-black ml-1"><small>(30 天)</small></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title text-md-center text-xl-left">
            下载
          </p>
          <div
            class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center"
          >
            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">
              40016
            </h3>
            <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
          </div>
          <p class="mb-0 mt-2 text-success">
            64.00%<span class="text-black ml-1"><small>(30 天)</small></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title text-md-center text-xl-left">上传</p>
          <div
            class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center"
          >
            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">
              61344
            </h3>
            <i
              class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"
            ></i>
          </div>
          <p class="mb-0 mt-2 text-success">
            23.00%<span class="text-black ml-1"><small>(30 天)</small></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title">用户活跃度详情</p>
          <p class="text-muted font-weight-light">
            Received overcame oh sensible so at an. Formed do change merely to
            county it. Am separate contempt domestic to to oh. On relation my so
            addition branched.
          </p>
          <div ref="salesLegend" class="chartjs-legend mt-4 mb-2"></div>
          <canvas ref="salesChart"></canvas>
        </div>
        <div class="card border-right-0 border-left-0 border-bottom-0">
          <div class="d-flex justify-content-center justify-content-md-end">
            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
              <button
                class="btn btn-lg btn-outline-light dropdown-toggle rounded-0 border-top-0 border-bottom-0"
                type="button"
                id="dropdownMenuDate2"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >
                Today
              </button>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="dropdownMenuDate2"
              >
                <a class="dropdown-item" href="#">January - March</a>
                <a class="dropdown-item" href="#">March - June</a>
                <a class="dropdown-item" href="#">June - August</a>
                <a class="dropdown-item" href="#">August - November</a>
              </div>
            </div>
            <button
              class="btn btn-lg btn-outline-light text-primary rounded-0 border-0 d-none d-md-block"
              type="button"
            >
              View all
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card border-bottom-0">
        <div class="card-body pb-0">
          <p class="card-title">文件变化</p>
          <p class="text-muted font-weight-light">
            The argument in favor of using filler text goes something like this:
            If you use real content in the design process, anytime you reach a
            review
          </p>
          <div class="d-flex flex-wrap mb-5">
            <div class="mr-5 mt-3">
              <p class="text-muted">Status</p>
              <h3>362</h3>
            </div>
            <div class="mr-5 mt-3">
              <p class="text-muted">New users</p>
              <h3>187</h3>
            </div>
            <div class="mr-5 mt-3">
              <p class="text-muted">Chats</p>
              <h3>524</h3>
            </div>
            <div class="mt-3">
              <p class="text-muted">Feedbacks</p>
              <h3>509</h3>
            </div>
          </div>
        </div>
        <canvas ref="orderChart" class="w-100"></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title mb-0">用户排行榜</p>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>名称</th>
                  <th>类型</th>
                  <th>活跃度</th>
                  <th>状态</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jacob</td>
                  <td>Photoshop</td>
                  <td class="text-danger">
                    28.76% <i class="ti-arrow-down"></i>
                  </td>
                  <td>
                    <label class="badge badge-danger">Pending</label>
                  </td>
                </tr>
                <tr>
                  <td>Messsy</td>
                  <td>Flash</td>
                  <td class="text-danger">
                    21.06% <i class="ti-arrow-down"></i>
                  </td>
                  <td>
                    <label class="badge badge-warning">In progress</label>
                  </td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>Premier</td>
                  <td class="text-danger">
                    35.00% <i class="ti-arrow-down"></i>
                  </td>
                  <td><label class="badge badge-info">Fixed</label></td>
                </tr>
                <tr>
                  <td>Peter</td>
                  <td>After effects</td>
                  <td class="text-success">
                    82.00% <i class="ti-arrow-up"></i>
                  </td>
                  <td>
                    <label class="badge badge-success">Completed</label>
                  </td>
                </tr>
                <tr>
                  <td>Dave</td>
                  <td>53275535</td>
                  <td class="text-success">
                    98.05% <i class="ti-arrow-up"></i>
                  </td>
                  <td>
                    <label class="badge badge-warning">In progress</label>
                  </td>
                </tr>
                <tr>
                  <td>Messsy</td>
                  <td>Flash</td>
                  <td class="text-danger">
                    21.06% <i class="ti-arrow-down"></i>
                  </td>
                  <td><label class="badge badge-info">Fixed</label></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">系统信息</h4>
          <div class="list-wrapper pt-2">
            <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
              <li>
                <div class="form-check form-check-flat">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox" />
                    Become A Travel Pro In One Easy Lesson
                  </label>
                </div>
                <i class="remove ti-trash"></i>
              </li>
              <li class="completed">
                <div class="form-check form-check-flat">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox" checked />
                    See The Unmatched Beauty Of The Great Lakes
                  </label>
                </div>
                <i class="remove ti-trash"></i>
              </li>
              <li>
                <div class="form-check form-check-flat">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox" />
                    Copper Canyon
                  </label>
                </div>
                <i class="remove ti-trash"></i>
              </li>
              <li class="completed">
                <div class="form-check form-check-flat">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox" checked />
                    Top Things To See During A Holiday In Hong Kong
                  </label>
                </div>
                <i class="remove ti-trash"></i>
              </li>
              <li>
                <div class="form-check form-check-flat">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox" />
                    Travelagent India
                  </label>
                </div>
                <i class="remove ti-trash"></i>
              </li>
            </ul>
          </div>
          <div class="add-items d-flex mb-0 mt-4">
            <input
              type="text"
              class="form-control todo-list-input mr-2"
              placeholder="Add new task"
            />
            <button
              class="add btn btn-icon text-primary todo-list-add-btn bg-transparent"
            >
              <i class="ti-location-arrow"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card position-relative">
        <div class="card-body">
          <p class="card-title">系统空间情况</p>
          <div class="row">
            <div
              class="col-md-12 col-xl-3 d-flex flex-column justify-content-center"
            >
              <div class="ml-xl-4">
                <h1>33500</h1>
                <h3 class="font-weight-light mb-xl-4">数量</h3>
                <p class="text-muted mb-2 mb-xl-0">
                  The total number of seasons within the date range. It is the
                  period time a user is actively engaged with your website, page
                  or app, etc
                </p>
              </div>
            </div>
            <div class="col-md-12 col-xl-9">
              <div class="row">
                <div class="col-md-6 mt-3 col-xl-5">
                  <canvas ref="northAmericaChart"></canvas>
                  <div id="north-america-legend"></div>
                </div>
                <div class="col-md-6 col-xl-7">
                  <div class="table-responsive mb-3 mb-md-0">
                    <table class="table table-borderless report-table">
                      <tr>
                        <td class="text-muted">Illinois</td>
                        <td class="w-100 px-0">
                          <div class="progress progress-md mx-4">
                            <div
                              class="progress-bar bg-primary"
                              role="progressbar"
                              style="width: 70%"
                              aria-valuenow="70"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                        </td>
                        <td>
                          <h5 class="font-weight-bold mb-0">524</h5>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-muted">Washington</td>
                        <td class="w-100 px-0">
                          <div class="progress progress-md mx-4">
                            <div
                              class="progress-bar bg-primary"
                              role="progressbar"
                              style="width: 30%"
                              aria-valuenow="30"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                        </td>
                        <td>
                          <h5 class="font-weight-bold mb-0">722</h5>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-muted">Mississippi</td>
                        <td class="w-100 px-0">
                          <div class="progress progress-md mx-4">
                            <div
                              class="progress-bar bg-primary"
                              role="progressbar"
                              style="width: 95%"
                              aria-valuenow="95"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                        </td>
                        <td>
                          <h5 class="font-weight-bold mb-0">173</h5>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-muted">California</td>
                        <td class="w-100 px-0">
                          <div class="progress progress-md mx-4">
                            <div
                              class="progress-bar bg-primary"
                              role="progressbar"
                              style="width: 60%"
                              aria-valuenow="60"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                        </td>
                        <td>
                          <h5 class="font-weight-bold mb-0">945</h5>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-muted">Maryland</td>
                        <td class="w-100 px-0">
                          <div class="progress progress-md mx-4">
                            <div
                              class="progress-bar bg-primary"
                              role="progressbar"
                              style="width: 40%"
                              aria-valuenow="40"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                        </td>
                        <td>
                          <h5 class="font-weight-bold mb-0">553</h5>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-muted">Alaska</td>
                        <td class="w-100 px-0">
                          <div class="progress progress-md mx-4">
                            <div
                              class="progress-bar bg-primary"
                              role="progressbar"
                              style="width: 75%"
                              aria-valuenow="75"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                        </td>
                        <td>
                          <h5 class="font-weight-bold mb-0">912</h5>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
