.inner-toolbar {
  position: absolute;
  top: 12px;
  left: 0;
  width: auto !important;

  .toolbar-container {
    width: auto !important;
  }

  --background: none !important;
  --background-color: transparent !important;

  .inner-buttons {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0 14px 0 6px;
    margin-left: 12px;
    border-radius: 100px;
  }
}

.time-box {
  position: relative;
  overflow: hidden;

  .time-box-bg {
    margin: 1.5%;
    width: 97%;
    height: 97%;
    left: 0;
    top: 0;
    background-color: #e2c6a4;
    border-radius: 10000px;
    border: 8px solid rgba(0, 0, 0, 0.3);
    position: absolute;
  }

  .time-box-fr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }

  .time-box-images {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
}

.time-circle {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
  overflow: hidden;
  border-radius: 10000px;

  .cell {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 11px !important;
  }

  .cell-circle1 {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }

  .cell-circle2 {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }

  .cell-circle3 {
    padding: 48px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;

    .cell-circle-inner {
      width: 100%;
      height: 100%;
      border-radius: 10000px;
      background-color: #fff;
      border: 1px solid #fff;
      overflow: hidden;
    }
  }

  .cell-circle6 {
    width: 76%;
    height: 76%;
    left: 12%;
    top: 12%;
    position: absolute;

    .cell-circle-inner {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-color: #fff;
      border: 1px solid #888;
      overflow: hidden;
    }
  }

  .cell-circle5 {
    padding: 34px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
  }
}

.cell-circle4 {
  width: 100%;
  left: 0;
  top: 3px;
  position: absolute;
  text-align: center;

  ion-icon {
    color: red;
    font-size: 12px;
    transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
  }
}

.act-box {
  padding: 6px 0;

  .act-bar {
    .act-cell {
      margin: 0 1px;
      height: 40px;
      line-height: 40px;
      background-color: #ddd;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      font-family: "DIN";
      color: #aaa;
    }

    .act-cell.selected,
    .act-cell.selectedAll {
      background-color: red;
      color: #fff;
    }
  }
}

@for $i from 0 to 12 {
  .deg-#{$i} {
    transform: rotate(#{$i * 30 + 15}deg) !important;
    -ms-transform: rotate(#{$i * 30 + 15}deg) !important;
    -moz-transform: rotate(#{$i * 30 + 15}deg) !important;
    -webkit-transform: rotate(#{$i * 30 + 15}deg) !important;
    -o-transform: rotate(#{$i * 30 + 15}deg) !important;
  }
}

.trans {
  -moz-transition: all 0.5s ease-in !important;
  -webkit-transition: all 0.5s ease-in !important;
  -o-transition: all 0.5s ease-in !important;
  transition: all 0.5s ease-in !important;
}

.images1 {
  img {
    display: inline-block;
    width: 16.4666%;
    height: 16.4666%;
    margin: 0.1%;
    float: left;
    opacity: 0.4;
    transition: all 0.2s;
  }

  img:hover {
    opacity: 1;
  }
}

.images2 {
  img,
  span.cr {
    display: inline-block;
    width: 49.6%;
    height: 49.6%;
    float: left;
    margin: 0.2%;
    opacity: 0.9;
    transition: all 0.2s;
    background-color: #ccc;
  }

  span.cr {
    span.cc {
      display: block;
      padding-top: 46%;
      text-align: center;
      font-size: 0.8rem;
    }
  }

  img:hover {
    opacity: 1;
  }
}

.cell-avatar {
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  border: 2px solid red;
  background-color: rgba($color: #fff, $alpha: 0.8);
  padding: 2px;
  border-radius: 100%;
  margin-left: -35px;
  margin-top: -35px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  ion-icon {
    position: absolute;
    top: -14px;
    left: 0;
    width: 100%;
    text-align: center;
    color: red;
    font-size: 16px;
  }
}

.no-result {
  padding: 6rem 0;

  .r1 {
    font-size: 5rem;
    color: #ddd;
  }

  .r2 {
    font-size: 1.2rem;
    color: #bbb;
  }
}

.seasons-box {
  margin: 20px 22px;
  background-color: #f2f2f2;
  border-radius: 8px;

  .seasons-item {
    margin: 3px;
    padding: 10px 32px;
    border-radius: 6px;
  }

  .seasons-desc {
    margin: 18px;
    margin-bottom: 32px;
    padding: 16px 16px 32px 16px;
    color: gray;
    font-size: 1rem;
  }
}

.deg-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  background-color: #eee;

  .wh100 {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .deg-item {
    position: absolute;
    left: -15%;
    top: -15%;
    width: 130%;
    height: 130%;
    overflow: hidden;

    .i1 {
      top: -50%;
    }

    .i2 {
      top: 100%;
    }
  }
}

@for $i from 0 to 49 {
  .deg-#{$i}h {
    transform: rotate(#{$i * 7.5}deg) !important;
    -ms-transform: rotate(#{$i * 7.5}deg) !important;
    -moz-transform: rotate(#{$i * 7.5}deg) !important;
    -webkit-transform: rotate(#{$i * 7.5}deg) !important;
    -o-transform: rotate(#{$i * 7.5}deg) !important;
  }
}

@media (prefers-color-scheme: dark) {
  .inner-toolbar {
    .inner-buttons {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .time-box {
    .time-box-bg {
      background-color: #181512;
      border: 8px solid rgba(255, 255, 255, 0.3);
    }
  }

  .time-circle {
    .cell-circle3 {
      .cell-circle-inner {
        background-color: #000;
        border: 1px solid #000;
      }
    }

    .cell-circle6 {
      .cell-circle-inner {
        background-color: #000;
        border: 1px solid #000;
      }
    }
  }

  .act-box {
    .act-bar {
      .act-cell {
        background-color: #555;
        color: #777;
      }

      .act-cell.selected,
      .act-cell.selectedAll {
        background-color: red;
        color: #000;
      }
    }
  }

  .images2 {
    img,
    span.cr {
      background-color: #333;
    }
  }

  .cell-avatar {
    background-color: rgba($color: #000, $alpha: 0.8);
  }

  .seasons-box {
    background-color: #333;

    .seasons-desc {
      color: gray;
    }
  }

  .deg-box {
    background-color: #444;
  }
}
