<ion-content>
  <ion-toolbar class="inner-toolbar">
    <ion-buttons class="inner-buttons" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>

  <div id="timeBox" class="time-box">
    <div class="time-box-fr" (click)="onTimeBoxClick($event)"></div>
    <div class="time-box-bg"></div>
    <div class="cell-circle4">
      <!--ion-icon name="triangle"></ion-icon-->
    </div>
    <div id="timeCircle" class="time-circle">
      <div class="cell-circle1"></div>
      <div id="cellMonthBox" class="trans cell-circle2">
        <div
          class="cell cell-month deg-0"
          [class]="{selected: monthIndex == 0}"
        >
          <div class="r">January</div>
        </div>
        <div
          class="cell cell-month deg-1"
          [class]="{selected: monthIndex == 1}"
        >
          <div class="r">February</div>
        </div>
        <div
          class="cell cell-month deg-2"
          [class]="{selected: monthIndex == 2}"
        >
          <div class="r">March</div>
        </div>
        <div
          class="cell cell-month deg-3"
          [class]="{selected: monthIndex == 3}"
        >
          <div class="r">April</div>
        </div>
        <div
          class="cell cell-month deg-4"
          [class]="{selected: monthIndex == 4}"
        >
          <div class="r">May</div>
        </div>
        <div
          class="cell cell-month deg-5"
          [class]="{selected: monthIndex == 5}"
        >
          <div class="r">June</div>
        </div>
        <div
          class="cell cell-month deg-6"
          [class]="{selected: monthIndex == 6}"
        >
          <div class="r">July</div>
        </div>
        <div
          class="cell cell-month deg-7"
          [class]="{selected: monthIndex == 7}"
        >
          <div class="r">August</div>
        </div>
        <div
          class="cell cell-month deg-8"
          [class]="{selected: monthIndex == 8}"
        >
          <div class="r">September</div>
        </div>
        <div
          class="cell cell-month deg-9"
          [class]="{selected: monthIndex == 9}"
        >
          <div class="r">October</div>
        </div>
        <div
          class="cell cell-month deg-10"
          [class]="{selected: monthIndex == 10}"
        >
          <div class="r">November</div>
        </div>
        <div
          class="cell cell-month deg-11"
          [class]="{selected: monthIndex == 11}"
        >
          <div class="r">December</div>
        </div>
      </div>
      <div class="cell-circle5">
        <div class="deg-box">
          <div
            class="deg-item"
            *ngFor="let bgcolor of degArr; let i = index"
            [class]="'deg-' + i + 'h'"
          >
            <div class="i1 wh100">
              <div
                class="i2 wh100 deg-1h"
                [style]="'background-color: ' + (bgcolor ? bgcolor : '#eee')"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell-circle3">
        <div class="cell-circle-inner images2 clr">
          <ng-container *ngFor="let item of monthItem; let i = index">
            <img
              (click)="presentModal(file(item.images))"
              [src]="file(item.images)"
              *ngIf="item && item.images"
              alt=""
            />
            <span class="cr" *ngIf="!item || !item.images">
              <span class="cc c1" *ngIf="i == 0">Late</span>
              <span class="cc c2" *ngIf="i == 1">Early</span>
              <span class="cc c3" *ngIf="i == 2">Late mid</span>
              <span class="cc c4" *ngIf="i == 3">Early mid</span>
            </span>
          </ng-container>
        </div>
        <div id="timeAvatar" class="trans cell-avatar">
          <ion-icon name="triangle"></ion-icon>
          <img [src]="urlPath('/pub/head_image?type=user&uid=' + uid)" alt="" />
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="sessItemArr && sessItemArr.length > 0">
    <div class="seasons-box" *ngFor="let sessItem of sessItemArr">
      <div
        class="seasons-item"
        [style]="'background-color: ' + (sessItem.tag_bg_color ? sessItem.tag_bg_color : 'transparent') + '; color:' + (sessItem.tag_fg_color ? sessItem.tag_fg_color : 'none')"
      >
      <div [innerHTML]="htmlContent(sessItem.content)"></div>
      </div>
      <div class="seasons-desc" *ngIf="sessItem.description">
        <div [innerHTML]="htmlContent(sessItem.description)"></div>
      </div>
    </div>
  </ng-container>

  <!-- <div *ngIf="selectMonthCellData">
    <ion-card>
      <div>
        <ng-container
          *ngFor="let img of splitImages(selectMonthCellData.images); let i = index"
        >
          <img [src]="file(img)" *ngIf="i == 0" />
        </ng-container>
        <ion-card-header>
          <ion-card-subtitle
            >{{selectMonthCellData.month_cell}}</ion-card-subtitle
          >
          <ion-card-title>{{selectMonthCellData.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content [innerHTML]="htmlContent(selectMonthCellData.content)"></ion-card-content>
      </div>

      <div class="flex px-3 mb-3">
        <div class="flex-1"></div>
        <ion-icon name="heart" class="me-1 f12"> </ion-icon>
        <div>{{selectMonthCellData.likes}}</div>
      </div>
    </ion-card>
  </div>
  <div class="no-result text-center" *ngIf="!selectMonthCellData">
    <div class="r1">
      <ion-icon name="sad-outline"></ion-icon>
    </div>
    <div class="r2">No data</div>
  </div> -->
</ion-content>
