.page-example {
  .password-strenth {
    max-width: 600px;

    .r1 {
      border: 1px solid #888;
      padding: 2px 4px;
      margin-right: 6px;
    }
    .cc {
      height: 10px;
      background-color: #eee;
      margin: 4px;
    }
    .level1 {
      .c1 {
        background-color: #888;
      }
    }
    .level2 {
      .c1,
      .c2 {
        background-color: #eeee08;
      }
    }
    .level3 {
      .c1,
      .c2,
      .c3 {
        background-color: green;
      }
    }
  }
}
