<div class="page-example">
  <div class="p-4">
    <hr class="my-5 w-25 mx-0" />
    <h1>下来菜单</h1>

    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">更多操作</button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div>{{date('2021-11-13 12:2:34.34234', 'yyyy-MM-dd hh:mm:ss')}}</div>
    <div>
      {{counter}}<button class="btn btn-primary" @click="onCount">点击</button>
      <button class="btn btn-primary" @click="hrefTo('/public/test')">跳转到Test</button>
    </div>

    <hr class="my-5 w-25 mx-0" />
    <h1>模型弹窗</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">打开窗口</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Modal title<span class="debug-tag" :class="[showDebugTag ? 'show' : 'hide']" title="@#modal0129">@#modal0129</span>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-5 w-25 mx-0" />
    <h1>步骤组件</h1>

    <ul class="steps">
      <li class="step step-success">
        <div class="step-content">
          <span class="step-circle">1</span>
          <span class="step-text">Step 1</span>
        </div>
      </li>
      <li class="step step-active">
        <div class="step-content">
          <span class="step-circle">2</span>
          <span class="step-text">Step 2</span>
        </div>
      </li>
      <li class="step">
        <div class="step-content">
          <span class="step-circle">3</span>
          <span class="step-text">Step 3</span>
        </div>
      </li>
      <li class="step">
        <div class="step-content">
          <span class="step-circle">4</span>
          <span class="step-text">Step 4</span>
        </div>
      </li>
    </ul>

    <hr class="my-5 w-25 mx-0" />
    <h1>表单Switch组件</h1>

    <div className="form-check form-switch">
      <label class="form-label" className="form-check-label" htmlFor="lightSwitch"> Dark Mode </label>
      <input id="lightSwitch" type="checkbox" className="form-check-input" />
    </div>

    <div className="form-check form-switch">
      <label class="form-label" className="form-check-label" htmlFor="lightSwitch2"> Dark Mode </label>
      <input id="lightSwitch2" type="checkbox" className="form-check-input" checked />
    </div>
  </div>

  <div class="p-4">
    <hr class="my-5 w-25 mx-0" />
    <h1>密码强度</h1>
    <input type="text" class="form-control" placeholder="请输入密码" v-model="form.password" @keyup="onPasswordInput" />
    <div class="p-4">{{json(passwordCheck)}}</div>
    <div class="password-strenth flex">
      <div
        class="r1 flex-1 flex"
        :class="{
          level0: passLevel <= 0,
          level1: passLevel > 0 && passLevel <= 4,
          level2: passLevel > 4 && passLevel <= 6,
          level3: passLevel > 6,
      }"
      >
        <div class="cc c1 flex-1"></div>
        <div class="cc c2 flex-1"></div>
        <div class="cc c3 flex-1"></div>
      </div>
      <div class="r2" v-if="passLevel <= 0"></div>
      <div class="r2" v-else-if="passLevel > 0 && passLevel <= 4">弱</div>
      <div class="r2" v-else-if="passLevel > 4 && passLevel <= 6">中</div>
      <div class="r2" v-else-if="passLevel > 6">强</div>
    </div>

    <div>
      密码强度要求如下:<br />
      1.须要长度8位以上<br />
      2.须要由大小写字母、数字、特殊字符两种或两种以上进行组合<br />
    </div>
  </div>
  <div class="p-4">
    <hr class="my-5 w-25 mx-0" />
    <h1>输入过滤</h1>
    <input class="form-control mb-3" v-model="form.content1" @keyup="onKeyup1(form, 'aaaa', (v) => v.replace(/[^0-9]/ig, ''))" />
    <input class="form-control mb-3" v-model="form.content1" @keyup="onKeyup1(form, 'content1', (v) => formatFloatInput(v, false, 4))" />
    <input class="form-control mb-3" v-model="form.content2" @keyup="onKeyup2(form, 'content2', /[^a-zA-Z]/ig, '')" />
  </div>
</div>
