

<ion-content>
  <ion-toolbar class="inner-toolbar">
    <ion-buttons class="inner-buttons" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>

  <ng-container *ngIf="reqData">

    <ion-card>
      <div>
      <ng-container
        *ngFor="let img of splitImages(reqData.images)"
      >
        <img [src]="file(img)" />
      </ng-container>
      <ion-card-header>
        <ion-card-subtitle
          >{{reqData.month_cell}}</ion-card-subtitle
        >
        <ion-card-title>{{reqData.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content [innerHTML]="htmlContent(reqData.content)"></ion-card-content>
    </div>

      <div class="flex px-3 mb-3">
        <div class="flex-1"></div>
        <ion-icon name="heart" class="me-1 f12"> </ion-icon>
        <div>{{reqData.likes}}</div>
      </div>
    </ion-card>

  </ng-container>
</ion-content>
