.inner-toolbar {
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
  
    --background: none !important;
    --background-color: transparent !important;
  
    .inner-buttons {
      background-color: rgba(255, 255, 255, 0.6);
      padding: 0 14px 0 6px;
      margin-left: 12px;
      border-radius: 100px;
    }
  }

  ion-card {
      margin: 0 !important;
  }