<div class="page-calendar-list">
  <div class="flex">
    <h5 class="header-title flex-1">日历</h5>
    <form class="title-form">
      <div class="form-inline flex">
        <input type="text" class="form-control" placeholder="关键词" v-model="kw" aria-label="Recipient's username" aria-describedby="basic-addon2" />
        <button type="button" class="btn btn-primary ml-1" @click="getData(kw)">搜索</button>
        <span class="a-link ml-1">高级</span>
      </div>
    </form>
  </div>
  <div class="table-responsive">
    <table class="table table-striped text-nowrap">
      <thead>
        <tr>
          <th width="70">ID</th>
          <th class="col-2">操作</th>
          <th>日历ID</th>
          <th>标题</th>
          <th>内容</th>
          <th>图片</th>
          <th>创建</th>
          <th>更新</th>
          <th class="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,i) in reqData" @click="toggleTr">
          <td width="70">{{item.id}}</td>
          <td class="col-2">
            <button
                      type="button"
                      class="btn btn-sm btn-primary"
                      @click="hrefTo('/platform/calendar/add_or_up', true, {id: item.id})"
                    >
                      编辑
                    </button>
            <button
              type="button"
              class="btn btn-sm"
              @click="hrefTo('/platform/detail', true, {
                                  path: '/api/master/v1/calendar/detail', 
                                  title: '日历(' + item.id + ')', 
                                  id: item.id
                                })"
            >
              详情
            </button>
          </td>
          <td>{{item.bid}}</td>
          <td>{{item.title}}</td>
          <td>{{xstr(ntf(item.content), 16, 20)}}</td>
          <td>
            <template v-for="(item, index) of splitImages(item.images)">
              <a :href="file(item)" class="cell" target="_blank">
                <img class="cell-image" :src="file(item)" alt="" />
              </a>
            </template>
          </td>
          <td>{{item.created_at}}</td>
          <td>{{item.updated_at}}</td>
          <td class="col"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-4 d-flex justify-content-between align-items-center" v-if="pgn">
    <p class="text-muted">总记录<mark class="font-weight-bold">{{pgn.total}}</mark>条</p>
    <nav v-if="pgn.total_page > 1">
      <ul class="pagination">
        <li class="page-item" v-if="pgn.link_prev!=pgn.current_page">
          <span class="page-link a-link" tabindex="-1">上一页</span>
        </li>
        <template v-for="(item,i) in pgn.links">
          <template v-if="item!='.'">
            <li class="page-item" :class="{active: item==pgn.current_page}">
              <span class="page-link a-link">{{item}}</span>
            </li>
          </template>
          <li class="page-item disabled" v-else>
            <span class="page-link a-link">...</span>
          </li>
        </template>
        <li class="page-item">
          <span class="page-link a-link" v-if="pgn.link_next!=pgn.current_page">下一页</span>
        </li>
      </ul>
    </nav>
  </div>
</div>
