.page-calendar-list {
  .cell {
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    margin: 2px;

    img {
      display: inline-block;
    }
  }
}
