<div id="page-pl-app-add_or_update">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4
            class="card-title d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between"
          >
            <span>权限路径 - {{modelTitle}}</span>
            <span class="a-blue a-link">
              <i class="ti-angle-double-left menu-icon"></i>
              <span class="menu-title" @click="hrefBack">返回</span>
            </span>
          </h4>
          <div class="col-6">
            <form class="forms-sample">
              <div class="form-group">
                <label for="form.name">名称</label>
                <input
                  id="form.name"
                  v-model="form.name"
                  placeholder="请输入"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="form.module">模块KEY</label>
                <input
                  id="form.module"
                  v-model="form.module"
                  placeholder="请输入"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="form.path">路径</label>
                <input
                  id="form.path"
                  v-model="form.path"
                  placeholder="请输入"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="form.methods">请求方法Methods</label>
                <input
                  id="form.methods"
                  v-model="form.methods"
                  placeholder="请输入"
                  type="text"
                  class="form-control"
                />
              </div>
              <button
                type="button"
                class="btn btn-primary mr-2"
                @click="submitFormEdit"
              >
                {{modelButton}}
              </button>
              <button type="button" class="btn btn-light" @click="hrefBack">
                取消
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
