#page-home {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 30px;

    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    .m-top {
        padding: 16px;
        margin: 16px;
        font-size: 16px;
        border: 1px dashed black;
    }

    button {
        padding: 0.2rem 1rem;
        font-size: 1.2rem;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 6px;
        margin: 0 10px;

        overflow: visible;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    button.small {
        font-size: 12px;
        padding: 0.4rem 1rem;
    }

    pre {
        overflow: auto;
    }

    .ant-collapse-content-box {
        background-color: #f2f2f2;

        .demo-box {
            .demo-item {
                background-color: #fff;
                padding: 16px;
                margin: 16px auto;
                border: 1px dashed #000;
                border-radius: 4px;
                max-width: 500px;
            }
        }

        .form-group {
            margin: 0 auto 16px auto;
            max-width: 300px;
        }

        .left {
            text-align: left;
        }
    }

    .btns {
        text-align: center;
    }
}

.upload-select {
        .anticon {
            font-size: 24px;
            margin-top: 12px;
        }
    }