<div id="page-home">
    <div>
        <a-collapse v-model="activeKey" :accordion="true">
            <a-collapse-panel key="1" header="登陆 - 账号/邮箱/手机号 + 密码">
                <h3>演示密码登陆, 代理商户/商户/用户/开发者 (type=agent/enterprise/user/developer)登陆方式一致</h3>
                <div class="login-box demo-box">
                    <div class="demo-item">
                        <div>
                            <div>
                                <div class="form-group">
                                    <a-select v-model="loginForm1.type" placeholder="选择类型">
                                        <a-select-option value="master">管理员</a-select-option>
                                        <a-select-option value="enterprise">商户</a-select-option>
                                        <a-select-option value="user">用户</a-select-option>
                                        <a-select-option value="agent">代理商</a-select-option>
                                        <a-select-option value="developer">开发者</a-select-option>
                                    </a-select>
                                </div>
                                <div class="form-group">
                                    <a-input class="form-control" type="text" v-model="loginForm1.account" placeholder="请输入账号/邮箱/手机号" />
                                </div>
                                <div class="form-group">
                                    <a-input class="form-control" type="password" v-model="loginForm1.password" placeholder="请输入密码" />
                                </div>
                            </div>
                            <div class="btns">
                                <button @click="onLogin()">登录</button>
                                <div>
                                    <span>状态:</span>
                                    <span class="b green" v-if="isLogin">已经登录</span>
                                    <span class="b red" v-if="!isLogin">未登录</span>
                                </div>
                            </div>
                            <pre class="left">{{dataLogin1}}</pre>
                        </div>
                    </div>
                    <div class="demo-item">
                        <div class="btns">
                            <button @click="onRequest()">打开Hello</button>
                        </div>
                        <pre class="left">{{data}}</pre>
                    </div>
                </div>
            </a-collapse-panel>
            <a-collapse-panel key="2" header="登陆 - 手机号 + 验证码">
                <h3>演示手机验证码登陆, 代理商户/商户/用户/开发者 (type=agent/enterprise/user/developer)登陆方式一致</h3>
                <div class="login-box demo-box">
                    <div class="demo-item">
                        <div>
                            <div>
                                <div class="form-group">
                                    <a-select v-model="loginForm2.type" placeholder="选择类型">
                                        <a-select-option value="master">管理员</a-select-option>
                                        <a-select-option value="enterprise">商户</a-select-option>
                                        <a-select-option value="user">用户</a-select-option>
                                        <a-select-option value="agent">代理商</a-select-option>
                                        <a-select-option value="developer">开发者</a-select-option>
                                    </a-select>
                                </div>
                                <div class="form-group">
                                    <a-input class="form-control" type="text" v-model="loginForm2.phone" placeholder="请输入手机号" />
                                </div>
                                <div class="form-group flex">
                                    <a-input class="form-control flex-1" v-model="loginForm2.code" placeholder="请输入验证码" />
                                    <button class="small" @click="onPhoneVerifyCode($event, loginForm2)" :disabled="actionLock > 0">
                                        发送验证码
                                        <template v-if="actionLock > 0">({{actionLock}}s)</template>
                                    </button>
                                </div>
                            </div>
                            <div class="btns">
                                <button @click="onLoginByPhone()">登录</button>
                                <div>
                                    <span>状态:</span>
                                    <span class="b green" v-if="isLogin">已经登录</span>
                                    <span class="b red" v-if="!isLogin">未登录</span>
                                </div>
                            </div>
                            <pre class="left">{{dataLogin2}}</pre>
                        </div>
                    </div>
                    <div class="demo-item">
                        <div class="btns">
                            <button @click="onRequest()">打开Hello</button>
                        </div>
                        <pre class="left">{{data}}</pre>
                    </div>
                </div>
            </a-collapse-panel>
            <a-collapse-panel key="11" header="登陆 - 微信公众号">
                <h3>演示微信中登陆, 代理商户/商户/用户/开发者 (type=agent/enterprise/user/developer)登陆方式一致</h3>
                <div class="login-box demo-box">
                    <div class="demo-item">
                        <div>
                            <div>
                                <div class="form-group">
                                    <a-select v-model="loginForm11.type" placeholder="选择类型">
                                        <a-select-option value="master">管理员</a-select-option>
                                        <a-select-option value="enterprise">商户</a-select-option>
                                        <a-select-option value="user">用户</a-select-option>
                                        <a-select-option value="agent">代理商</a-select-option>
                                        <a-select-option value="developer">开发者</a-select-option>
                                    </a-select>
                                </div>
                            </div>
                            <div class="btns">
                                <button @click="onLoginByWxPub()">登录</button>
                                <div>
                                    <span>状态:</span>
                                    <span class="b green" v-if="isLogin">已经登录</span>
                                    <span class="b red" v-if="!isLogin">未登录</span>
                                </div>
                            </div>
                            <pre class="left">{{dataLogin11}}</pre>
                        </div>
                    </div>
                    <div class="demo-item">
                        <div class="btns">
                            <button @click="onRequest()">打开Hello</button>
                        </div>
                        <pre class="left">{{data}}</pre>
                    </div>
                </div>
            </a-collapse-panel>
            <a-collapse-panel key="3" header="用户注册(账号 + 密码)">
                <h3>用账号+密码注册(用户/商户/代理商/管理员/开发者, 不允许使用纯数字或带@的账号(手机号/邮箱预留)</h3>
                <div class="demo-box">
                    <div class="demo-item">
                        <div>
                            <div class="form-group">
                                <a-select v-model="regForm1.type" placeholder="选择类型">
                                    <a-select-option value="master">管理员</a-select-option>
                                    <a-select-option value="enterprise">商户</a-select-option>
                                    <a-select-option value="user">用户</a-select-option>
                                    <a-select-option value="agent">代理商</a-select-option>
                                    <a-select-option value="developer">开发者</a-select-option>
                                </a-select>
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="text" v-model="regForm1.username" placeholder="请输入账号" />
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="password" v-model="regForm1.password" placeholder="请输入密码" />
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="password" v-model="regForm1.rePassword" placeholder="请输入切确认密码" />
                            </div>
                        </div>
                        <div class="btns">
                            <button @click="onRegisterByUsername">注册</button>
                        </div>
                        <pre class="left">{{dataRegister1}}</pre>
                    </div>
                </div>
            </a-collapse-panel>
            <a-collapse-panel key="4" header="用户注册(邮箱 + 密码)">
                <h3>用邮箱 + 密码注册(用户/商户/代理商/管理员/开发者)</h3>
                <div class="demo-box">
                    <div class="demo-item">
                        <div>
                            <div class="form-group">
                                <a-select v-model="regForm3.type" placeholder="选择类型">
                                    <a-select-option value="master">管理员</a-select-option>
                                    <a-select-option value="enterprise">商户</a-select-option>
                                    <a-select-option value="user">用户</a-select-option>
                                    <a-select-option value="agent">代理商</a-select-option>
                                    <a-select-option value="developer">开发者</a-select-option>
                                </a-select>
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="text" v-model="regForm3.email" placeholder="请输入邮箱" />
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="password" v-model="regForm3.password" placeholder="请输入密码" />
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="password" v-model="regForm3.rePassword" placeholder="请输入切确认密码" />
                            </div>
                        </div>
                        <div class="btns">
                            <button @click="onRegisterByEmail">注册</button>
                        </div>
                        <pre class="left">{{dataRegister3}}</pre>
                    </div>
                </div>
            </a-collapse-panel>
            <a-collapse-panel key="5" header="用户注册(手机号 + 验证码)">
                <h3>用手机号+验证码注册(用户/商户/代理商/管理员/开发者)</h3>
                <div class="demo-box">
                    <div class="demo-item">
                        <div>
                            <div class="form-group">
                                <a-select v-model="regForm2.type" placeholder="选择类型">
                                    <a-select-option value="master">管理员</a-select-option>
                                    <a-select-option value="enterprise">商户</a-select-option>
                                    <a-select-option value="user">用户</a-select-option>
                                    <a-select-option value="agent">代理商</a-select-option>
                                    <a-select-option value="developer">开发者</a-select-option>
                                </a-select>
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="text" v-model="regForm2.phone" placeholder="请输入手机号" />
                            </div>
                            <div class="form-group flex">
                                <a-input class="form-control flex-1" v-model="regForm2.code" placeholder="请输入验证码" />
                                <button class="small" @click="onPhoneVerifyCode($event, regForm2)" :disabled="actionLock > 0">
                                    发送验证码
                                    <template v-if="actionLock > 0">({{actionLock}}s)</template>
                                </button>
                            </div>
                        </div>
                        <div class="btns">
                            <button @click="onRegisterByPhone">注册</button>
                        </div>
                        <pre class="left">{{dataRegister2}}</pre>
                    </div>
                </div>
            </a-collapse-panel>
            <a-collapse-panel key="6" header="邮箱激活(邮箱 + 验证码)">
                <h3>用验证码激活邮箱账户(用户/商户/代理商/管理员/开发者)</h3>
                <div class="demo-box">
                    <div class="demo-item">
                        <div>
                            <div class="form-group">
                                <a-select v-model="activationForm1.type" placeholder="选择类型">
                                    <a-select-option value="master">管理员</a-select-option>
                                    <a-select-option value="enterprise">商户</a-select-option>
                                    <a-select-option value="user">用户</a-select-option>
                                    <a-select-option value="agent">代理商</a-select-option>
                                    <a-select-option value="developer">开发者</a-select-option>
                                </a-select>
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="text" v-model="activationForm1.email" placeholder="请输入邮箱" />
                            </div>
                            <div class="form-group flex">
                                <a-input class="form-control flex-1" v-model="activationForm1.code" placeholder="请输入验证码" />
                                <button class="small" @click="onEmailVerifyCode($event, activationForm1)" :disabled="actionLock > 0">
                                    发送验证码
                                    <template v-if="actionLock > 0">({{actionLock}}s)</template>
                                </button>
                            </div>
                        </div>
                        <div class="btns">
                            <button @click="onActivationByEmail">激活</button>
                        </div>
                        <pre class="left">{{activationData1}}</pre>
                    </div>
                </div>
            </a-collapse-panel>
            <a-collapse-panel key="7" header="忘记密码/重置密码(手机号 + 验证码)">
                <h3>用手机号+验证码重置密码(用户/商户/代理商/管理员/开发者)</h3>
                <div class="demo-box">
                    <div class="demo-item">
                        <div>
                            <div class="form-group">
                                <a-select v-model="resetPasswordForm1.type" placeholder="选择类型">
                                    <a-select-option value="master">管理员</a-select-option>
                                    <a-select-option value="enterprise">商户</a-select-option>
                                    <a-select-option value="user">用户</a-select-option>
                                    <a-select-option value="agent">代理商</a-select-option>
                                    <a-select-option value="developer">开发者</a-select-option>
                                </a-select>
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="text" v-model="resetPasswordForm1.phone" placeholder="请输入手机号" />
                            </div>
                            <div class="form-group flex">
                                <a-input class="form-control flex-1" v-model="resetPasswordForm1.code" placeholder="请输入验证码" />
                                <button class="small" @click="onPhoneVerifyCode($event, resetPasswordForm1)" :disabled="actionLock > 0">
                                    发送验证码
                                    <template v-if="actionLock > 0">({{actionLock}}s)</template>
                                </button>
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="password" v-model="resetPasswordForm1.password" placeholder="请输入新密码" />
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="password" v-model="resetPasswordForm1.rePassword" placeholder="请输入新确认密码" />
                            </div>
                        </div>
                        <div class="btns">
                            <button @click="onResetPasswordByPhone">重置</button>
                        </div>
                        <pre class="left">{{resetPasswordData1}}</pre>
                    </div>
                </div>
            </a-collapse-panel>
            <a-collapse-panel key="8" header="忘记密码/重置密码(邮箱 + 验证码)">
                <h3>用邮箱+验证码重置密码(用户/商户/代理商/管理员/开发者)</h3>
                <div class="demo-box">
                    <div class="demo-item">
                        <div>
                            <div class="form-group">
                                <a-select v-model="resetPasswordForm2.type" placeholder="选择类型">
                                    <a-select-option value="master">管理员</a-select-option>
                                    <a-select-option value="enterprise">商户</a-select-option>
                                    <a-select-option value="user">用户</a-select-option>
                                    <a-select-option value="agent">代理商</a-select-option>
                                    <a-select-option value="developer">开发者</a-select-option>
                                </a-select>
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="text" v-model="resetPasswordForm2.phone" placeholder="请输入邮箱" />
                            </div>
                            <div class="form-group flex">
                                <a-input class="form-control flex-1" v-model="resetPasswordForm2.code" placeholder="请输入验证码" />
                                <button class="small" @click="onEmailVerifyCode($event, resetPasswordForm2)" :disabled="actionLock > 0">
                                    发送验证码
                                    <template v-if="actionLock > 0">({{actionLock}}s)</template>
                                </button>
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="password" v-model="resetPasswordForm2.password" placeholder="请输入新密码" />
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="password" v-model="resetPasswordForm2.rePassword" placeholder="请输入新确认密码" />
                            </div>
                        </div>
                        <div class="btns">
                            <button @click="onResetPasswordByEmail">重置</button>
                        </div>
                        <pre class="left">{{resetPasswordData2}}</pre>
                    </div>
                </div>
            </a-collapse-panel>
            <a-collapse-panel key="9" header="获取账户个人信息">
                <h3>获取登录用户最新的个人信息 (用户/商户/代理商/管理员/开发者)</h3>
                <div class="demo-box">
                    <div class="demo-item">
                        <div>
                            <pre>
ID         int64                  `json:"id"`   // ID
Nickname   string                 `json:"name"` // 昵称
HeadImage  string                 `json:"head"` // 头像
Type       Type                   `json:"t"`    // 类型
UUID       string                 `json:"u"`    // UUID
Account    string                 `json:"c"`    // 账户
Phone      string                 `json:"p"`    // 手机号
Device     string                 `json:"d"`    // 设备
ApplyToken string                 `json:"k"`    // 请求Token
Activation int                    `json:"v"`    // 激活状态
Auth       string                 `json:"a"`    // 权限
ExtraInfo  map[string]interface{} `json:"e"`    // 其他信息
                            </pre>
                            <div class="form-group">
                                当前登录用户: {{json(sess)}}
                            </div>
                        </div>
                        <div class="btns">
                            <button @click="onGetProfile">获取</button>
                        </div>
                        <pre class="left">{{getProfileData}}</pre>
                    </div>
                </div>
            </a-collapse-panel>
            <a-collapse-panel key="10" header="个人信息编辑">
                <h3>信息编辑(用户/商户/代理商/管理员/开发者)</h3>
                <div class="demo-box">
                    <div class="demo-item">
                        <div>
                            <div class="form-group">
                                当前登录用户: {{json(sess)}}
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="text" v-model="profileEditForm.name" placeholder="请输入名称" />
                            </div>
                            <div class="form-group">
                                <a-input class="form-control" type="text" v-model="profileEditForm.nickname" placeholder="请输入昵称" />
                            </div>
                            <div class="form-group">
                                <label>头像</label>
                                <div class="clean ant-upload ant-upload-select ant-upload-select-picture-card avatar-uploader" @click="uploadFile">
                                    <img v-if="profileEditForm.head_image" :src="file(profileEditForm.head_image)" alt="avatar" />
                                    <div v-else class="ant-upload upload-select">
                                        <a-icon :type="loading ? 'loading' : 'plus'" />
                                        <div class="ant-upload-text">
                                            图片上传
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btns">
                            <button @click="onSetProfile">保存资料</button>
                        </div>
                        <pre class="left">{{setProfileData}}</pre>
                    </div>
                </div>
            </a-collapse-panel>
            <a-collapse-panel key="12" header="绑定手机号">
                <h3>演示为现有账户绑定手机号, 代理商户/商户/用户/开发者 (type=agent/enterprise/user/developer)方式一致</h3>
                <div class="login-box demo-box">
                    <div class="demo-item">
                        <div>
                            <div>
                                <div class="form-group">
                                当前登录用户: {{json(sess)}}
                                </div>
                                <div class="form-group">
                                    <a-input class="form-control" type="text" v-model="bindForm12.phone" placeholder="请输入手机号" />
                                </div>
                                <div class="form-group flex">
                                    <a-input class="form-control flex-1" v-model="bindForm12.code" placeholder="请输入验证码" />
                                    <button class="small" @click="onPhoneVerifyCode($event, bindForm12)" :disabled="actionLock > 0">
                                        发送验证码
                                        <template v-if="actionLock > 0">({{actionLock}}s)</template>
                                    </button>
                                </div>
                            </div>
                            <div class="btns">
                                <button @click="onAccountBindPhone()">绑定</button>
                                <div>
                                    <span>状态:</span>
                                    <span class="b green" v-if="isLogin">已经登陆</span>
                                    <span class="b red" v-if="!isLogin">未登陆</span>
                                </div>
                            </div>
                            <pre class="left">{{dataBind12}}</pre>
                        </div>
                    </div>
                </div>
            </a-collapse-panel>
            <a-collapse-panel key="13" header="绑定邮箱">
                <h3>演示为现有账户绑定邮箱, 代理商户/商户/用户/开发者 (type=agent/enterprise/user/developer)方式一致</h3>
                <div class="login-box demo-box">
                    <div class="demo-item">
                        <div>
                            <div>
                                <div class="form-group">
                                        当前登录用户: {{json(sess)}}
                                    </div>
                                <div class="form-group">
                                    <a-input class="form-control" type="text" v-model="bindForm13.email" placeholder="请输入邮箱" />
                                </div>
                                <div class="form-group flex">
                                    <a-input class="form-control flex-1" v-model="bindForm13.code" placeholder="请输入验证码" />
                                    <button class="small" @click="onEmailVerifyCode($event, bindForm13)" :disabled="actionLock > 0">
                                        发送验证码
                                        <template v-if="actionLock > 0">({{actionLock}}s)</template>
                                    </button>
                                </div>
                            </div>
                            <div class="btns">
                                <button @click="onAccountBindPhone()">绑定</button>
                                <div>
                                    <span>状态:</span>
                                    <span class="b green" v-if="isLogin">已经登陆</span>
                                    <span class="b red" v-if="!isLogin">未登陆</span>
                                </div>
                            </div>
                            <pre class="left">{{dataBind13}}</pre>
                        </div>
                    </div>
                </div>
            </a-collapse-panel>
        </a-collapse>
    </div>
</div>
