.navbar {
  .navbar-logo {
    font-family: LCD;
    font-weight: bold;
    font-size: 1.1rem !important;
    padding-left: 32px !important;
  }

  .navbar-toggler {
    i {
      font-size: 2rem !important;
      color: #333 !important;
      cursor: pointer;
    }
  }
}
