<!-- partial:partials/_navbar.html -->
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <div class="navbar-brand brand-logo mr-5 a-link navbar-logo" @click="hrefTo('/platform/home')">S.E.TECH</div>
    <div class="navbar-brand brand-logo-mini a-link navbar-logo" @click="hrefTo('/platform/home')">S.E</div>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <div class="navbar-toggler navbar-toggler align-self-center" data-bs-toggle="minimize" @click="onNavbarToggler()">
      <i class="mt-icon format_indent_increase" v-if="collapsed"></i>
      <i class="mt-icon format_indent_decrease" v-else></i>
    </div>
    <ul class="navbar-nav mr-lg-2">
      <li class="nav-item nav-search d-none d-lg-block">
        <div class="input-group">
          <div class="input-group-prepend hover-cursor">
            <span class="input-group-text">
              <i class="ti-search"></i>
            </span>
          </div>
          <input type="text" class="form-control" id="navbar-search-input" placeholder="搜索" aria-label="search" aria-describedby="search" />
        </div>
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown mr-1">
        <span
          class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center a-link"
          id="messageDropdown"
          data-bs-toggle="dropdown"
        >
          <i class="ti-email mx-0"></i>
        </span>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
          <p class="mb-0 font-weight-normal float-left dropdown-header">消息</p>
          <a class="dropdown-item">
            <div class="item-thumbnail">
              <img src="../../../../assets/images/faces/face4.jpg" alt="image" class="profile-pic" />
            </div>
            <div class="item-content flex-grow">
              <h6 class="ellipsis font-weight-normal">David ~~叮</h6>
              <p class="font-weight-light small-text text-muted mb-0">购买了1件商品</p>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="item-thumbnail">
              <img src="../../../../assets/images/faces/face2.jpg" alt="image" class="profile-pic" />
            </div>
            <div class="item-content flex-grow">
              <h6 class="ellipsis font-weight-normal">Tim Cook</h6>
              <p class="font-weight-light small-text text-muted mb-0">分享推荐</p>
            </div>
          </a>
          <a class="dropdown-item">
            <div class="item-thumbnail">
              <img src="../../../../assets/images/faces/face3.jpg" alt="image" class="profile-pic" />
            </div>
            <div class="item-content flex-grow">
              <h6 class="ellipsis font-weight-normal">阿蛮</h6>
              <p class="font-weight-light small-text text-muted mb-0">赞了一下</p>
            </div>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <span class="nav-link count-indicator dropdown-toggle a-link" id="notificationDropdown a-link" data-bs-toggle="dropdown">
          <i class="ti-bell mx-0"></i>
          <span class="count"></span>
        </span>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
          <p class="mb-0 font-weight-normal float-left dropdown-header">通知</p>
          <div class="dropdown-item">
            <div class="item-thumbnail">
              <div class="item-icon bg-success">
                <i class="ti-info-alt mx-0"></i>
              </div>
            </div>
            <div class="item-content">
              <h6 class="font-weight-normal">应用运行正常</h6>
              <p class="font-weight-light small-text mb-0 text-muted">刚刚</p>
            </div>
          </div>
          <div class="dropdown-item">
            <div class="item-thumbnail">
              <div class="item-icon bg-warning">
                <i class="ti-settings mx-0"></i>
              </div>
            </div>
            <div class="item-content">
              <h6 class="font-weight-normal">系统</h6>
              <p class="font-weight-light small-text mb-0 text-muted">日志插入</p>
            </div>
          </div>
          <div class="dropdown-item">
            <div class="item-thumbnail">
              <div class="item-icon bg-info">
                <i class="ti-user mx-0"></i>
              </div>
            </div>
            <div class="item-content">
              <h6 class="font-weight-normal">新用户加入</h6>
              <p class="font-weight-light small-text mb-0 text-muted">2天前</p>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item nav-profile dropdown">
        <span class="nav-link a-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="profileDropdown">
          <img v-if="sess && sess.head" :src="file(sess.head)" alt="profile" />
          <img v-else src="../../../../assets/images/faces/face28.jpg" alt="profile" />
        </span>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
          <div class="dropdown-item a-link" @click="onSetting()">
            <i class="ti-settings text-primary"></i>
            设置
          </div>
          <div class="dropdown-item a-link" @click="onLogout()">
            <i class="ti-power-off text-primary"></i>
            退出
          </div>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
      <span class="ti-view-list"></span>
    </button>
  </div>
</nav>
