<div id="page-platform" class="container-scroller">
  <app-pl-header></app-pl-header>
  <div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <app-pl-slidemenu></app-pl-slidemenu>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper" :class="{'content-wrapper-footer': !$route.meta.noFooter}">
          <router-view />
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer" v-if="!$route.meta.noFooter">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"
              >Copyright © Star Energy .TECH 2018 ~ 2022</span
            >
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">沈阳SeasonalcalLife有限公司</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
    </div>
  </div>
</div>
