.page-light-icons {
  .icons-box {
    max-width: 1200px;
    padding: 30px 0;
    margin: 0 auto;
  }

  .item-box {
    max-width: 1100px;
    padding: 20px 30px;
    margin: 0 auto;
  }

  .item {
    display: inline-block;
    width: 160px;
    text-align: center;
    margin-bottom: 20px;
  }

  .item .r1 {
    display: inline-block;
    width: 64px;
    color: #000;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    border: 1px dashed #bbb;
    border-radius: 4px;
  }

  .item .r1:hover {
    border: 1px solid #000;
    color: white;
    background-color: #000;
    transition: 0.5s;
  }

  .item .r2 {
    height: 24px;
    line-height: 24px;
    overflow: visible;
  }
}
