img.page {
  width: 100%;
  display: block;
}

h1,h2,h3 {
  font-weight: bold;
}

h4,h5 {
  font-weight: 500;
}

.clr::after {
  content: '';
  height: 1px;
  display: block;
  clear: both;
}


.no-result {
  text-align: center;
  color: #999;
  padding: 50px 16px;
  background-color: rgba($color: #000000, $alpha: 0.05);
}