.a-blue {
  color: #248afd !important;
  opacity: 0.5;
}

.a-blue {
  opacity: 1;
}

.a-link {
  cursor: pointer;
}

.flex-h,
.flex-v,
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-h,
.flex-v,
.flex {
  /* display: box; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  /* 横向 */
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /* 默认垂直居中 */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-v {
  /* 横向 */
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* 默认垂直居中 */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-1,
.flex-grow {
  -prefix-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-2 {
  -prefix-box-flex: 2;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-3 {
  -prefix-box-flex: 3;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-4 {
  -prefix-box-flex: 4;
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-5 {
  -prefix-box-flex: 5;
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -moz-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.single-line {
  text-overflow: inherit;
  overflow: visible;
}

.f12 {
  font-size: 1.2rem !important;
}

.f14 {
  font-size: 1.4rem !important;
}

.f16 {
  font-size: 1.6rem !important;
}

.f18 {
  font-size: 1.8rem !important;
}

.f20 {
  font-size: 2rem !important;
}

.f24 {
  font-size: 2.4rem !important;
}

.f32 {
  font-size: 3.2rem !important;
}

.f40 {
  font-size: 4rem !important;
}


@font-face {
  font-family: 'DIN';
  src: url('./../assets/fonts/din/DIN-Black.otf') format('opentype');

  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('./../assets/fonts/din/DIN-Bold.otf') format('opentype');
  font-weight: bold 600 700 800;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('./../assets/fonts/din/DIN-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('./../assets/fonts/din/DIN-Regular.otf') format('opentype');
  font-weight: normal 300 400;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('./../assets/fonts/din/DIN-Light.otf') format('opentype');
  font-weight: 100 200;
  font-style: normal;
}
