<div class="page-user-list">
  <div class="flex">
    <h5 class="header-title flex-1">用户</h5>
    <form class="title-form">
      <div class="form-inline flex">
        <input type="text" class="form-control" placeholder="关键词" v-model="kw" aria-label="Recipient's username" aria-describedby="basic-addon2" />
        <button type="button" class="btn btn-primary ml-1" @click="getData(kw)">搜索</button>
        <span class="a-link ml-1">高级</span>
      </div>
    </form>
  </div>
  <div class="table-responsive">
    <table class="table table-striped text-nowrap">
      <thead>
        <tr>
          <th width="70">ID</th>
          <th class="col-2">操作</th>
          <th>图标</th>
          <th>名称</th>
          <th>用户名</th>
          <th>手机</th>
          <th>Email</th>
          <th>开放ID</th>
          <th>创建</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,i) in reqData" @click="toggleTr">
          <td width="70">{{item.id}}</td>
          <td class="col-2">
            <button
              type="button"
              class="btn btn-sm"
              @click="hrefTo('/platform/detail', true, {
                            path: '/api/master/v1/user/detail', 
                            title: '普通用户: ' + item.name, 
                            id: item.id
                          })"
            >
              详情
            </button>
          </td>
          <td class="py-1">
            <img :src="file(item.head_image)" alt="image" />
          </td>
          <td>{{item.name}}</td>
          <td>{{item.username}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.email}}</td>
          <td>{{item.openid}}</td>
          <td>{{item.created_at}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-4 d-flex justify-content-between align-items-center" v-if="pgn">
    <p class="text-muted">总记录<mark class="font-weight-bold">{{pgn.total}}</mark>条</p>
    <nav v-if="pgn.total_page > 1">
      <ul class="pagination">
        <li class="page-item" v-if="pgn.link_prev!=pgn.current_page">
          <span class="page-link a-link" tabindex="-1">上一页</span>
        </li>
        <template v-for="(item,i) in pgn.links">
          <template v-if="item!='.'">
            <li class="page-item" :class="{active: item==pgn.current_page}">
              <span class="page-link a-link">{{item}}</span>
            </li>
          </template>
          <li class="page-item disabled" v-else>
            <span class="page-link a-link">...</span>
          </li>
        </template>
        <li class="page-item">
          <span class="page-link a-link" v-if="pgn.link_next!=pgn.current_page">下一页</span>
        </li>
      </ul>
    </nav>
  </div>
</div>
