<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{itemData.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-end p-3 my-2">
    <ion-button shape="round" (click)="hrefTo('/my/create', true, {bid: itemData.id})"
      >Create calendar item</ion-button
    >
  </div>

  <div *ngIf="reqData && reqData.length > 0">
    <ng-container *ngFor="let item of reqData">
      <ion-card>
        <div (click)="hrefTo('/detail', false, {id: item.id})">
          <ng-container
            *ngFor="let img of splitImages(item.images); let i = index"
          >
            <img [src]="file(img)" *ngIf="i == 0" />
          </ng-container>
          <ion-card-header>
            <ion-card-subtitle>{{item.month_cell}}</ion-card-subtitle>
            <ion-card-title>{{item.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content [innerHTML]="htmlContent(item.content)"></ion-card-content>
        </div>

        <div class="flex px-3 mb-3">
          <div class="ac-btns">
            <ion-button
              size="small"
              fill="solid"
              shape="round"
              (click)="hrefTo('/detail', true, {id: item.id})"
              >Learn more</ion-button
            >

          </div>
          <div class="flex-1">
            <button
              type="button"
              class="ms-2"
              (click)="hrefTo('/my/create', true, {id: item.id})"
            >
              <ion-icon name="create-outline"></ion-icon>
            </button>
            <button class="ms-2" type="button"
            (click)="onRemove(item.id)"
            >
              <ion-icon name="trash-outline"></ion-icon>
            </button>
          </div>

        </div>
      </ion-card>
    </ng-container>

    <ion-infinite-scroll threshold="20px" (ionInfinite)="loaderMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div class="no-result" *ngIf="!reqData || reqData.length < 1">
    No data? <a [href]="'/my/create?bid=' + itemData.id">Create item now</a>
  </div>
</ion-content>
