<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="end">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header *ngIf="$isLogin">My account</ion-list-header>
          <ion-list-header class="mb-2" *ngIf="!$isLogin">Welcome</ion-list-header>
          <ion-note *ngIf="$sess && $sess.name">{{$sess.name}}</ion-note>
          <ion-note *ngIf="$sess && !$sess.name && $sess.c">{{$sess.c}}</ion-note>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <div class="p-3" *ngIf="!$isLogin">
          <ion-button
            class="me-3"
            fill="outline"
            shape="round"
            (click)="hrefTo('/auth/login')"
            >Sign in</ion-button
          >
          <ion-button shape="round" (click)="hrefTo('/auth/register')">Join now</ion-button>
        </div>
        <div class="p-3" *ngIf="$isLogin">
          <ion-button
            class="me-3"
            fill="outline"
            shape="round"
            (click)="onLogout()"
            >Logout</ion-button
          >
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
