<div class="component-tree-view" ref="treeViewBox">
  <template v-if="data">
    <div class="tree-node tree-node-title tree-node-expand" data-expand="1">
      <span class="tree-node-pad tree-node-flex-1" @click="nodeClick(data, $event)">{{theData.name}}</span>
      <i class="mt-icon fullscreen" @click="nodeExpandAll"></i>
      <i class="mt-icon fullscreen_exit" @click="nodeShrinkAll"></i>
    </div>
    <template v-if="theData.children">
      <template v-for="(item, index) in theData.children">
        <md-tree-node v-if="item.isopen == true || item.isopen == undefined"
          :data="item"
          :level="1"
          :options="theOptions"
          :nodeClick="nodeClick"
          :parentExpand="true"
          :useLink="theUseLink"
        ></md-tree-node>
        <!-- {{item}} -->
      </template>
    </template>
  </template>
</div>
