.component-tree-view {
  background-color: #336fcf;
  $tree-node-height: 34px;
  $tree-node-header-height: 40px;

  .tree-node {
    display: block;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-left: 16px;
    text-decoration: none;
    color: #fff;

    height: $tree-node-height !important;
    overflow: hidden !important;

    display: flex;
    flex-direction: row;
    align-items: center;
    /* 横向 */
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    /* 默认居中 */
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    // 禁止选择文本
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .tree-node-line-v {
      border-left: 1px solid gray;
      height: 100%;
      margin-left: 0.3rem;
      width: 1.7rem;
    }

    .tree-node-line-v:first-child {
      border-left-width: 0 !important;
    }

    .tree-node-pad {
      height: 100%;
    }

    .tree-node-flex-1 {
      -prefix-box-flex: 1;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    i {
      margin-right: 6px;
    }
  }
  .tree-node:hover {
    // border-top: 1px dotted #000;
    // border-bottom: 1px dotted #000;
    // background-color: #f2f2f2;
  }
  .tree-node.selected {
    // border-top: 1px solid orange;
    // border-bottom: 1px solid orange;
    background-color:#6B93D3;
  }

  .tree-node-expand {
    .arrow_forward_ios {
      transform: rotate(90deg);
      -ms-transform: rotate(90deg); /* IE 9 */
      -moz-transform: rotate(90deg); /* Firefox */
      -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
      -o-transform: rotate(90deg); /* Opera */
    }
  }

  .tree-node-title {
    height: $tree-node-header-height !important;
    line-height: $tree-node-header-height !important;
    padding-right: 0.475rem;
    .mt-icon {
      text-align: center;
      line-height: 1.275rem;
      border-radius: 2px;
      margin: 0;
      margin-right: 0.175rem;
      font-size: 1.5rem;
      overflow: hidden;
    }
    .mt-icon:hover {
      background-color: #ddd;
      transition: 0.3s;
    }
  }
}
