<!-- partial:partials/_sidebar -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-in">
    <ul class="nav">
      <li class="nav-item">
        <div class="nav-link a-link a-link" @click="hrefTo('/platform/app-to/list');">
          <i class="ti-angle-double-left menu-icon"></i>
          <span class="menu-title">返回</span>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link a-link" @click="hrefTo('/platform-ui/home')">
          <i class="ti-shield menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </div>
      </li>
      <li class="nav-item" :class="{active: sel('/platform-ui/ui-feature')}">
        <div
          class="nav-link a-link"
          data-bs-toggle="collapse"
          aria-expanded="false"
          aria-controls="ui-basic"
          @click="hrefTo('/platform-ui/ui-features/buttons')"
        >
          <i class="ti-palette menu-icon"></i>
          <span class="menu-title">UI Elements</span>
          <i class="menu-arrow"></i>
        </div>
        <div class="collapse" :class="{show: !collapsed && sel('/platform-ui/ui-feature')}" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <div class="nav-link a-link" @click="hrefTo('/platform-ui/ui-features/buttons')">Buttons</div>
            </li>
            <li class="nav-item">
              <div class="nav-link a-link" @click="hrefTo('/platform-ui/ui-features/typography')">Typography</div>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link a-link" @click="hrefTo('/platform-ui/forms/basic_elements')">
          <i class="ti-layout-list-post menu-icon"></i>
          <span class="menu-title">Form elements</span>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link a-link" @click="hrefTo('/platform-ui/charts/chartjs')">
          <i class="ti-pie-chart menu-icon"></i>
          <span class="menu-title">Charts</span>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link a-link" @click="hrefTo('/platform-ui/tables/basic-table')">
          <i class="ti-view-list-alt menu-icon"></i>
          <span class="menu-title">Tables</span>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link a-link" @click="hrefTo('/platform-ui/icons/themify')">
          <i class="ti-star menu-icon"></i>
          <span class="menu-title">Icons</span>
        </div>
      </li>
      <li class="nav-item" :class="{actvie: sel('/platform-ui/samples')}">
        <div
          class="nav-link a-link"
          data-bs-toggle="collapse"
          aria-expanded="false"
          aria-controls="auth"
          @click="hrefTo('/platform-ui/samples/login')"
        >
          <i class="ti-user menu-icon"></i>
          <span class="menu-title">User Pages</span>
          <i class="menu-arrow"></i>
        </div>
        <div class="collapse" :class="{show: !collapsed && sel('/platform-ui/samples')}" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <div class="nav-link a-link" @click="hrefTo('/platform-ui/samples/login')">
                Login
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link a-link" @click="hrefTo('/platform-ui/samples/login-2')">
                Login 2
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link a-link" @click="hrefTo('/platform-ui/samples/register')">
                Register
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link a-link" @click="hrefTo('/platform-ui/samples/register-2')">
                Register 2
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link a-link" @click="hrefTo('/platform-ui/samples/lock-screen')">
                Lockscreen
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link a-link" @click="hrefTo('/platform-ui/documentation/documentation')">
          <i class="ti-write menu-icon"></i>
          <span class="menu-title">Documentation</span>
        </div>
      </li>
    </ul>
  </div>
</nav>
