<div class="component-link-bar" ref="linkBar">
  <div class="link-box">
    <div class="link-box-left">
      <div class="link-sc">
        <button type="button" class="btn link-sc-e e-left" @mousedown="scrollTo('left')" @mouseleave="cancelScroll" @mouseup="cancelScroll">
          <i class="mt-icon arrow_back_ios"></i>
        </button>
        <button type="button" class="btn link-sc-e e-right" @mousedown="scrollTo('right')" @mouseleave="cancelScroll" @mouseup="cancelScroll">
          <i class="mt-icon arrow_forward_ios"></i>
        </button>
        <div class="link-sc-in" id="link-box-scroll">
          <div
            class="link-item"
            v-for="(item, index) in filterRouters"
            :key="item.key"
            :class="{'selected': item.selected}"
            :title="item.router.meta.title"
            @contextmenu="openContextMenu($event, item)"
          >
            <div class="flex">
              <a class="name flex-1" :href="mao(item.router.href)" @click="linkTo(item, $event)" v-if="item.router.meta && item.router.meta.title"
                >{{item.router.meta.title}}</a
              >
              <a class="name flex-1" :href="mao(item.router.href)" @click="linkTo(item, $event)" v-else>页面</a>
              <span class="link-close" @click="linkClose(item)">
                <i class="mt-icon close"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="link-box-right">
      <div class="dropdown">
        <button type="button" class="btn" id="linkBoxMenu1" data-bs-toggle="dropdown">
          <i class="mt-icon menu"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="linkBoxMenu1">
          <li><span class="a-link dropdown-item" @click="closeOne">关闭</span></li>
          <li><span class="a-link dropdown-item" @click="closeOther">关闭其他</span></li>
          <li><span class="a-link dropdown-item" @click="linkClear">关闭全部</span></li>
        </ul>
      </div>
    </div>
  </div>

  <context-menu name="context-menu-link-bar">
    <context-menu-item @itemClickHandle="itemClickEvent($event, 'close-current')">关闭</context-menu-item>
    <context-menu-item @itemClickHandle="itemClickEvent($event, 'close-other')">关闭其他</context-menu-item>
    <context-menu-item :divider="true" @itemClickHandle="itemClickEvent($event, 'close-all')">关闭全部</context-menu-item>
    <context-menu-item @itemClickHandle="itemClickEvent($event, 'copy-link')">复制链接</context-menu-item>
    <context-menu-item @itemClickHandle="itemClickEvent($event, 'open')">新窗口打开</context-menu-item>
  </context-menu>
</div>
