@import '../../style/vars';
.component-link-bar {
  position: fixed;
  top: $header-height;
  left: 0;
  width: 100%;
  background-color: $link-bar-background-color;
  z-index: 90;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);

  .link-box {
    width: 100%;
    padding-left: $menu-width;
    height: $link-bar-height;
    position: relative;
  }

  .link-sc {
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 26px;

    .link-sc-e {
      position: absolute;
      width: 26px;
      height: 100%;
      top: 0;
      z-index: 99;
      padding-left: 0;
      padding-right: 0;
    }
    .link-sc-e.e-left {
      left: 0;
      border-right: 1px solid #eee;
      box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
    }
    .link-sc-e.e-right {
      right: 0;
      border-left: 1px solid #eee;
      border-right: 1px solid #f2f2f2;
      box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
    }

    .link-sc-in {
      white-space: nowrap;
      height: 100px;
      padding-right: 30px;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  .link-item {
    display: inline-block;
    border: 1px solid #fff;
    margin-top: 6px;
    margin-left: 4px;
    width: $link-bar-width;
    height: 26px;
    overflow: hidden;
    border-radius: 4px !important;

    padding-left: 4px;
    position: relative;

    .name {
      display: inline-block;
      height: 24px;
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      text-decoration: none;
      color: gray;
    }
  }

  .link-item:hover {
    background-color: #eee;
    border-color: #d2d2d2;
  }

  .link-item.selected {
    color: $link-bar-item-color-selected;
    border-color: $link-bar-item-border-color-selected;
    background-color: $link-bar-item-background-color-selected;

    .name {
      color: inherit;
    }
  }

  .link-item.selected:hover {
    opacity: 0.7;
  }

  .link-box-left {
    height: 100%;
    padding: 0 36px 0 0;
  }

  .link-box-right {
    position: absolute;
    width: 36px;
    height: 100%;
    right: 0;
    top: 0;
    text-align: center;

    .dropdown {
      width: 100%;
      height: 100%;
    }

    .btn {
      width: 100%;
      height: 100%;
      padding: 0 4px !important;
      line-height: normal !important;
      border-radius: 4px !important;
    }

    .btn:hover {
      background-color: $link-bar-item-background-color-selected;
      color: white;
    }

    .mt-icon {
      font-size: 18px;
      line-height: normal !important;
    }
  }

  .link-close {
    width: $link-bar-close-width;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    .mt-icon {
      opacity: 0.6;
      transition: 0.3s;
    }
  }
  .link-close:hover {
    background-color: rgba(0, 0, 0, 0.1);
    .mt-icon {
      opacity: 1;
      transition: 0.3s;
    }
  }
}
