<div class="{{.__BOXNAME__}}">
  <!-- Author: {{.Author}} / {{.Company}} -->
  <!-- Create: {{.__CREATETIME__}} -->

  <h1>{{.__TIITLE__}}</h1>
  <div>{{.__LINKNAME__}}</div>
  <div>{{.__LINKPATH__}}</div>
</div>