// 引入bootstrap
@import 'style/bootstrap';
@import 'style/icons';
@import 'style/general';

html,
html body,
#main,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Arial-Black, Arial;

  .btn {
    border-radius: 5px;
    border-width: 0;
  }

  .btn-primary {
    background-color: #0066ee;
    border: none;
  }

  .btn-secondary {
    background-color: #fff;
    color: #000;
    border: none;
  }

  .btn-light {
    background-color: #e5eaf0;
    color: #000;
    border: none;
  }

  .btn-disabled {
    color: #778377;
  }
}

.selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.selectall {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.word-wrap {
  word-wrap: break-word !important;
  white-space: normal !important;
  overflow: hidden;
}

.word-nowrap {
  display: block;
  word-wrap: normal !important;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clr::after {
  content: '';
  height: 1px;
  display: block;
  clear: both;
}

.b {
  font-weight: bold;
}

.swal2-icon {
  transform: scale(0.8);
}

.swal2-title {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  padding: 0.6em 0.8em 1em !important;
}

.a-blue {
  color: #248afd !important;
  opacity: 0.5;
}

.a-blue {
  opacity: 1;
}

.a-link {
  cursor: pointer;
}

#app {
  .flex-h,
  .flex-v,
  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .flex-h,
  .flex-v,
  .flex {
    /* display: box; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    /* 横向 */
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    /* 默认垂直居中 */
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .flex-v {
    /* 横向 */
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* 默认垂直居中 */
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .flex-1,
  .flex-grow {
    -prefix-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .flex-2 {
    -prefix-box-flex: 2;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }

  .flex-3 {
    -prefix-box-flex: 3;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }

  .flex-4 {
    -prefix-box-flex: 4;
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -moz-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
  }

  .flex-5 {
    -prefix-box-flex: 5;
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -moz-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
  }

  .row-start,
  .flex-start {
    -webkit-box-align: start !important;
    -webkit-align-items: start !important;
    -ms-flex-align: start !important;
    align-items: start !important;
  }

  .row-end,
  .flex-end {
    -webkit-box-align: end !important;
    -webkit-align-items: end !important;
    -ms-flex-align: end !important;
    align-items: end !important;
  }

  .row-center,
  .flex-center {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  .row-justify,
  .flex-justify {
    justify-content: space-between !important;
  }
}

.clr,
.clear {
  clear: both;
}

// 审批进度样式

.approva-progress {
  .step-content {
    max-width: 13rem;
    width: 13rem;
  }

  .step-ing .step-circle::before,
  .step-error .step-circle::before,
  .step-incomplete .step-circle::before,
  .step-success .step-circle::before,
  .step-active .step-circle::before {
    width: calc(13rem + 1rem - 1.5rem);
  }

  .step-success .step-circle::before {
    color: #0d6efd;
  }

  .step-ing .step-circle::before {
    color: #ffa300;
  }

  .step-error .step-circle::before {
    color: #e20a0a;
  }

  .step-incomplete .step-circle::before {
    color: #828586;
  }

  .step-text {
    text-align: center;
  }

  .steps .step:first-child {
    margin-left: 0;
  }

  .step-success .step-circle {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
  }

  .step-ing .step-circle {
    background-color: #ffa300;
    border-color: #ffa300;
    color: #fff;
  }

  .step-error .step-circle {
    background-color: #e20a0a;
    border-color: #e20a0a;
    color: #fff;
  }

  .step-incomplete .step-circle {
    background-color: #828586;
    border-color: #828586;
    color: #fff;
  }

  .step-success .step-text {
    color: #0d6efd;
  }

  .step-ing .step-text {
    color: #ffa300;
  }

  .step-incomplete .step-text {
    color: #333;
  }

  .step-error .step-text {
    color: #e20a0a;
  }
}

/************* 右键菜单 ************/
.avatar-sm {
  background-color: #fff;
  width: 2.25rem;
  height: 2.25rem;
}

.avatar-org {
  max-width: 50rem;
  min-width: 10rem;
  margin: 20px auto;
  display: block;
}

.avatar {
  background-color: #fff;
  width: 4rem;
  height: 4rem;
}

.avatar-big {
  background-color: #fff;
  width: 9rem;
  height: 9rem;
}

.ml-3 {
  margin-left: 30px;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.pl-3 {
  padding-left: 30px;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.v-contextmenu {
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3) !important;
  min-width: 200px;

  .v-contextmenu-item {
    padding: 4px 16px !important;
  }

  .v-contextmenu-item:hover {
    background-color: #ddd !important;
    color: black !important;
  }
}

/********************* 弹出框层叠顺序 ***************/

html,
html body,
body {
  .modal-backdrop {
    display: none !important;
  }

  .swal2-container {
    z-index: 10000;
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;

    z-index: 2000;
    .modal-dialog {
      z-index: 2001;
    }
  }
  .modal.show {
    opacity: 1;
    transition: 0.3s;
  }

  .modal.top100 {
    z-index: 2100;
    .modal-dialog {
      z-index: 2101;
    }
  }
  .modal.top200 {
    z-index: 2200;
    .modal-dialog {
      z-index: 2201;
    }
  }
  .modal.top300 {
    z-index: 1300;
    .modal-dialog {
      z-index: 2301;
    }
  }
  .modal.top400 {
    z-index: 2400;
    .modal-dialog {
      z-index: 2401;
    }
  }
  .modal.top500 {
    z-index: 2500;
    .modal-dialog {
      z-index: 2501;
    }
  }
}

/********************* bootstrap ***************/
.modal {
  .modal-header {
    .btn-close {
      margin: -0.5rem -0.1rem -0.5rem auto;
    }
  }

  .modal-title {
    padding-left: 0.2rem;
    font-weight: 600;
    color: #333;
  }

  .modal-dialog {
    max-width: 80%;
    max-height: 90% !important;
    margin-top: 4%;
    max-height: calc(100% - 6rem) !important;
    overflow: hidden !important;
    border-radius: 10px;
  }

  .modal-content {
    max-height: 80%;
  }

  form.modal-content {
    display: block;
  }

  .modal-body {
    overflow-y: auto;
  }

  @media all and (max-height: 600px) {
    .modal-body {
      max-height: 300px !important;
    }
  }

  @media all and (min-height: 600px) and (max-height: 700px) {
    .modal-body {
      max-height: 400px !important;
    }
  }

  @media all and (min-height: 700px) and (max-height: 800px) {
    .modal-body {
      max-height: 500px !important;
    }
  }

  @media all and (min-height: 800px) and (max-height: 900px) {
    .modal-body {
      max-height: 600px !important;
    }
  }

  @media all and (min-height: 900px) and (max-height: 1000px) {
    .modal-body {
      max-height: 700px !important;
    }
  }

  @media all and (min-height: 1000px) and (max-height: 1200px) {
    .modal-body {
      max-height: 800px !important;
    }
  }

  @media all and (min-height: 1200px) and (max-height: 1400px) {
    .modal-body {
      max-height: 1000px !important;
    }
  }

  @media all and (min-height: 1400px) and (max-height: 1600px) {
    .modal-body {
      max-height: 1200px !important;
    }
  }

  @media all and (min-height: 1600px) and (max-height: 1800px) {
    .modal-body {
      max-height: 1350px !important;
    }
  }

  @media all and (min-height: 1800px) and (max-height: 2000px) {
    .modal-body {
      max-height: 1500px !important;
    }
  }

  @media all and (min-height: 2000px) {
    .modal-body {
      max-height: 1650px !important;
    }
  }

  .modal-footer {
    justify-content: center;
  }
}

.row {
  margin-bottom: 0.45rem;
}

.item-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-dialog.max-400 {
  max-width: 400px;
}

.modal-dialog.max-600 {
  max-width: 600px;
}

.modal-dialog.max-800 {
  max-width: 800px;
}

.modal-dialog.max-1000 {
  max-width: 1000px;
}

.modal-dialog.max-1200 {
  max-width: 1200px;
}

.modal-dialog.max-1400 {
  max-width: 1400px;
}

.modal-dialog.max-1600 {
  max-width: 1600px;
}

.modal-dialog.max-1800 {
  max-width: 1800px;
}

.modal-dialog.max-p30 {
  max-width: 30%;
}

.modal-dialog.max-p40 {
  max-width: 40%;
}

.modal-dialog.max-p50 {
  max-width: 50%;
}

.modal-dialog.max-p60 {
  max-width: 60%;
}

.modal-dialog.max-p70 {
  max-width: 70%;
}

.col.col-0 {
  -prefix-box-flex: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -moz-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  width: auto !important;
}

.box-shadow {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
}

.box-main {
  background-color: #fff;
  padding: 24px 36px;
  margin: 20px 60px 60px 60px;
  border-radius: 12px;
}

.single-line-vis {
  text-overflow: inherit;
  overflow: visible;
}

.font-light {
  font-weight: 200 !important;
}

.font-normal {
  font-weight: 400 !important;
}
.font-medium {
  font-weight: 500 !important;
}
.font-bold {
  font-weight: 600 !important;
}

.font-black {
  font-weight: 800 !important;
}

.table > :not(:first-child) {
  border-width: 0 !important;
}

#app {
  .table th,
  .table td {
    padding: 0.725rem 0.475rem;
  }

  .table {
    .btn.btn-sm {
      padding: 0.4rem 0.5rem !important;
      border-radius: 3px !important;
    }
  }

  .btn-rounded {
    border-radius: 50px;
    text-align: center;
  }

  .grid-margin {
    margin-bottom: 0.475rem;

    .btn-rounded {
      padding: 0.575rem 1.4rem;
    }
  }

  .card-title {
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 0.675rem;
    padding-right: 0.675rem;
    border-left: 1rem solid #ddd;
    color: #000;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f7f7f7;
  }

  .table-hover tbody tr:hover {
    color: #212529;
    background-color: #f2f2f2;
  }

  .table td img {
    width: 26px;
    height: 26px;
  }

  .content-wrapper {
    background: none !important;
  }

  .card {
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
  }

  .main-panel {
    .form-control {
      height: 2.6rem;
      padding: 0.375rem 0.675rem;
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1) inset;
    }

    textarea.form-control,
    pre.form-control {
      height: auto;
    }
  }

  .monospaced-font {
    font-family: 'Courier New', Courier, monospace;
  }
}

// ------------------
@import 'utils/dialog';
