<div id="page-platform" class="container-scroller">
  <app-pl-header></app-pl-header>
  <div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <app-pl-slidemenu></app-pl-slidemenu>
      <!-- partial -->
      <div class="main-panel">
          
        <router-view />

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div
            class="d-sm-flex justify-content-center justify-content-sm-between"
          >
            <span
              class="text-muted d-block text-center text-sm-left d-sm-inline-block"
              >Copyright © bootstrapdash.com 2020</span
            >
            <span
              class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
            >
              Free
              <a href="https://www.bootstrapdash.com/" target="_blank"
                >Bootstrap dashboard templates</a
              >
              from Bootstrapdash.com</span
            >
          </div>
        </footer>
        <!-- partial -->
      </div>
    </div>
  </div>
</div>
