.component-menu {
  position: relative;
  height: 100%;

  .menu-container {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .logo {
      margin-top: 32px;
      text-align: center;
      img {
        display: inline-block;
        width: 124px;
      }
    }

    .nav-menu-items {
      padding-top: 38px;
      padding-left: 36px;
      padding-right: 36px;
      padding-bottom: 50px;

      .item {
        padding: 9px 0;
        font-size: 1.2rem;
        font-weight: 600;
        img {
          display: inline-block;
          width: 18px;
          margin-right: 16px;
        }
      }

      .bond-area {
        padding-left: 34px;
        padding-right: 12px;
        font-size: 1rem !important;

        .title {
          padding-bottom: 10px;
          color: #999;
        }

        .text-right {
          text-align: right;
          font-weight: bold;
          font-size: 1rem;
          min-width: 100px;
        }
      }
    }
  }

  .icons {
    position: absolute;
    width: 100%;
    background-color: #fff;
    left: 0;
    bottom: 0;

    img {
      display: inline-block;
      height: 23px;
      margin: 15px;
    }
  }
}
