<div class="component-menu">
  <div class="menu-container">
    <div class="logo">
      <img src="../../../assets/images/menu/logo.png" alt="" />
    </div>
    <div class="nav-menu-items">
      <div class="item flex" @click="hrefTo('/app/dashboard')"><img src="../../../assets/images/menu/das.png" alt="" /><span>Dashboard</span></div>
      <div class="item flex" @click="hrefTo('/app/stake')"><img src="../../../assets/images/menu/stake.png" alt="" /><span>Stake</span></div>
      <div class="item flex" @click="hrefTo('/app/bond')"><img src="../../../assets/images/menu/bond.png" alt="" /><span>Bond</span></div>
      <div class="bond-area">
        <div class="title">Bond discounts</div>
        <div class="row">
          <div class="col">OHM-LUSD LP</div>
          <div class="col col-0 text-right">Sold Out</div>
        </div>
        <div class="row">
          <div class="col">OHM-DAI LP</div>
          <div class="col col-0 text-right">4.84%</div>
        </div>
        <div class="row">
          <div class="col">wETH</div>
          <div class="col col-0 text-right">3,82%</div>
        </div>
        <div class="row">
          <div class="col">LUSD</div>
          <div class="col col-0 text-right">3.61%</div>
        </div>
        <div class="row">
          <div class="col">OHM-WETH LP</div>
          <div class="col col-0 text-right">0,54%</div>
        </div>
        <div class="row">
          <div class="col">OHM-FRAX LP</div>
          <div class="col col-0 text-right">-0,20%</div>
        </div>
        <div class="row">
          <div class="col">FRAX</div>
          <div class="col col-0 text-right">-5.47%</div>
        </div>
        <div class="row">
          <div class="col">DAI</div>
          <div class="col col-0 text-right">-13.96%</div>
        </div>
      </div>
      <div class="item flex"><img src="../../../assets/images/menu/forum.png" alt="" /><span>Forum</span></div>
      <div class="item flex"><img src="../../../assets/images/menu/gover.png" alt="" /><span>Governance</span></div>
      <div class="item flex"><img src="../../../assets/images/menu/docs.png" alt="" /><span>Docs</span></div>
    </div>
  </div>

  <div class="icons">
    <div class="flex-v">
      <div class="flex">
        <span>v{{versionWeb3}}</span>
        <img src="../../../assets/images/home/twitter.png" alt="" />
        <img src="../../../assets/images/home/xin.png" alt="" />
        <img src="../../../assets/images/home/m.png" alt="" /><img src="../../../assets/images/home/cat.png" alt="" />
      </div>
    </div>
  </div>
</div>
