<div id="page-pl-app-add_or_update">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4
            class="card-title d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between"
          >
            <span>应用 - {{modelTitle}}</span>
            <span class="a-blue a-link">
              <i class="ti-angle-double-left menu-icon"></i>
              <span class="menu-title" @click="hrefBack">返回</span>
            </span>
          </h4>
          <div class="col-6">
            <form class="forms-sample">
              <div class="form-group">
                <label for="form.name">名称</label>
                <input id="form.name" v-model="form.name" placeholder="请输入" type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label for="form.module">模块标识</label>
                <input id="form.module" v-model="form.module" placeholder="请输入" type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label for="form.data_url">数据URL</label>
                <input
                  id="form.data_url"
                  v-model="form.data_url"
                  placeholder="请输入"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="form.description">描述</label>
                <input
                  id="form.description"
                  v-model="form.description"
                  placeholder="请输入"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="form.public_key_client">应用自身公钥</label>
                <textarea
                  id="form.public_key_client"
                  v-model="form.public_key_client"
                  placeholder="请输入"
                  class="form-control"
                  rows="6"
                ></textarea>
              </div>
              <div class="form-group">
                <label>标题图</label>
                <input type="text" class="file-upload-default" />
                <div class="input-group col-xs-12">
                  <input
                    type="text"
                    v-model="form.head_image"
                    class="form-control file-upload-info"
                    disabled
                    placeholder="上传图片"
                    @click="uploadFile"
                  />
                  <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary" type="button" @click="uploadFile">上传</button>
                  </span>
                </div>
              </div>
              <div class="form-image-box">
                <img class="form-image" v-if="form.head_image" :src="file(form.head_image)" alt="avatar" />
              </div>
              <div class="form-group">
                <label for="form.visit_url_master">后台前端URL</label>
                <input
                  id="form.visit_url_master"
                  v-model="form.visit_url_master"
                  placeholder="请输入"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="form.visit_url_enterprise">企业商户前端URL</label>
                <input
                  id="form.visit_url_enterprise"
                  v-model="form.visit_url_enterprise"
                  placeholder="请输入"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="form.visit_url_user">用户前端URL</label>
                <input
                  id="form.visit_url_user"
                  v-model="form.visit_url_user"
                  placeholder="请输入"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="form.visit_url_agent">代理商前端URL</label>
                <input
                  id="form.visit_url_agent"
                  v-model="form.visit_url_agent"
                  placeholder="请输入"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="form.visit_url_developer">开发者前端URL</label>
                <input
                  id="form.visit_url_developer"
                  v-model="form.visit_url_developer"
                  placeholder="请输入"
                  type="text"
                  class="form-control"
                />
              </div>
              <button type="button" class="btn btn-primary mr-2" @click="submitFormEdit">{{modelButton}}</button>
              <button type="button" class="btn btn-light" @click="hrefBack">取消</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
