<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{itemData.title}} seasons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-end p-3 my-2">
    <ion-button shape="round" (click)="hrefTo('/my/create-seasons', true, {bid: itemData.id})">Create seasons
    </ion-button>
  </div>

  <div *ngIf="reqData && reqData.length > 0">
    <ng-container *ngFor="let item of reqData">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Month #{{mon(item.month_start)}} ~
            #{{mon(item.month_end)}}</ion-card-subtitle>
          <ion-card-title
            [style]="'background-color: ' + (item.tag_bg_color ? item.tag_bg_color : 'transparent') + '; color:' + (item.tag_fg_color ? item.tag_fg_color : 'none')"
            [innerHTML]="htmlContent(item.content)"></ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="item.description">
          <div [innerHTML]="htmlContent(item.description)"></div>
        </ion-card-content>

        <div class="flex px-3 mb-3">
          <div class="flex-1">
            <button type="button" class="ms-2" (click)="hrefTo('/my/create-seasons', true, {id: item.id})">
              <ion-icon name="create-outline"></ion-icon>
            </button>
            <button class="ms-2" type="button" (click)="onRemove(item.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </button>
          </div>
        </div>
      </ion-card>
    </ng-container>

    <ion-infinite-scroll threshold="20px" (ionInfinite)="loaderMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div class="no-result" *ngIf="!reqData || reqData.length < 1">
    No data?
    <a [href]="'/my/create-seasons?bid=' + itemData.id">Create seasons now</a>
  </div>
</ion-content>