<div class="page-test">
  <div>
    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modaHellol">
      打开Hello窗口2
    </button>
    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modaHello2">
      打开Hello窗口2
    </button>
    <button class="btn btn-primary" @click="hrefTo('/public/example')">跳转到Example</button>
  </div>
</div>
