<ion-content>
  <div *ngIf="selectMonthCellData">
    <ion-card>
      <div>
        <ng-container
          *ngFor="let img of splitImages(selectMonthCellData.images); let i = index"
        >
          <img [src]="file(img)" *ngIf="i == 0" />
        </ng-container>
        <ion-card-header>
          <ion-card-subtitle
            >{{selectMonthCellData.month_cell}}</ion-card-subtitle
          >
          <ion-card-title>{{selectMonthCellData.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content [innerHTML]="htmlContent(selectMonthCellData.content)"></ion-card-content>
      </div>

      <div class="flex px-3 mb-3">
        <div class="flex-1"></div>
        <ion-icon name="heart" class="me-1 f12"> </ion-icon>
        <div>{{selectMonthCellData.likes}}</div>
      </div>
    </ion-card>
  </div>
  <div class="no-result text-center" *ngIf="!selectMonthCellData">
    <div class="r1">
      <ion-icon name="sad-outline"></ion-icon>
    </div>
    <div class="r2">No data</div>
  </div>
</ion-content>
