<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-in">
    <ul class="nav">
      <li class="nav-item" :class="{active: sel('/platform/app-to/')}">
        <div class="nav-link a-link" @click="hrefTo('/platform/app-to/list')" title="引导页">
          <i class="mt-icon directions"></i>
          <span class="menu-title">引导页</span>
        </div>
      </li>
      <li class="nav-item" :class="{active: sel('/platform/home')}">
        <div class="nav-link a-link" @click="hrefTo('/platform/home')" title="系统总览">
          <i class="mt-icon equalizer"></i>
          <span class="menu-title">系统总览</span>
        </div>
      </li>
      <li class="nav-item" :class="{active: sel('/platform/app/')}">
        <div class="nav-link a-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="ui-basic" @click="hrefTo('/platform/app/list')" title="应用">
          <i class="mt-icon apps"></i>
          <span class="menu-title">应用</span>
          <i class="menu-arrow"></i>
        </div>
        <div class="collapse" :class="{show: !collapsed && sel('/platform/app/')}">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item" @click="hrefTo('/platform/app/list')">
              <div class="nav-link a-link">列表</div>
            </li>
            <li class="nav-item" @click="hrefTo('/platform/app/add_or_update')">
              <div class="nav-link a-link">添加</div>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item" :class="{active: sel('/platform/user/')}">
        <div
          class="nav-link a-link"
          data-bs-toggle="collapse"
          aria-expanded="false"
          aria-controls="ui-basic"
          @click="hrefTo('/platform/user/list')"
          title="普通用户"
        >
          <i class="mt-icon people"></i>
          <span class="menu-title">普通用户</span>
          <i class="menu-arrow"></i>
        </div>
        <div class="collapse" :class="{show: !collapsed && sel('/platform/user/')}">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item" @click="hrefTo('/platform/user/list')">
              <div class="nav-link a-link">列表</div>
            </li>
            <li class="nav-item" @click="hrefTo('/platform/user/add_or_update')">
              <div class="nav-link a-link">添加</div>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item" :class="{active: sel('/platform/master/')}">
        <div
          class="nav-link a-link"
          data-bs-toggle="collapse"
          aria-expanded="false"
          aria-controls="ui-basic"
          @click="hrefTo('/platform/master/list')"
          title="管理员"
        >
          <i class="mt-icon person"></i>
          <span class="menu-title">管理员</span>
          <i class="menu-arrow"></i>
        </div>
        <div class="collapse" :class="{show: !collapsed && sel('/platform/master/')}">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item" @click="hrefTo('/platform/master/list')">
              <div class="nav-link a-link">列表</div>
            </li>
            <li class="nav-item" @click="hrefTo('/platform/master/add_or_update')">
              <div class="nav-link a-link">添加</div>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item" :class="{active: sel('/platform/agent/')}">
        <div
          class="nav-link a-link"
          data-bs-toggle="collapse"
          aria-expanded="false"
          aria-controls="ui-basic"
          @click="hrefTo('/platform/agent/list')"
          title="代理人"
        >
          <i class="mt-icon people_outline"></i>
          <span class="menu-title">代理人</span>
          <i class="menu-arrow"></i>
        </div>
        <div class="collapse" :class="{show: !collapsed && sel('/platform/agent/')}">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item" @click="hrefTo('/platform/agent/list')">
              <div class="nav-link a-link">列表</div>
            </li>
            <li class="nav-item" @click="hrefTo('/platform/agent/add_or_update')">
              <div class="nav-link a-link">添加</div>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item" :class="{active: sel('/platform/auth_path/')}">
        <div
          class="nav-link a-link"
          data-bs-toggle="collapse"
          aria-expanded="false"
          aria-controls="ui-basic"
          @click="hrefTo('/platform/auth_path/list')"
          title="权限"
        >
          <i class="mt-icon https"></i>
          <span class="menu-title">权限</span>
          <i class="menu-arrow"></i>
        </div>
        <div class="collapse" :class="{show: !collapsed && sel('/platform/auth_path/')}">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item" @click="hrefTo('/platform/auth_path/list')">
              <div class="nav-link a-link">列表</div>
            </li>
            <li class="nav-item" @click="hrefTo('/platform/auth_path/add_or_update')">
              <div class="nav-link a-link">添加</div>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item" :class="{active: sel('/platform/role/')}">
        <div class="nav-link a-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="ui-basic" @click="hrefTo('/platform/role/list')" title="角色">
          <i class="mt-icon perm_contact_calendar"></i>
          <span class="menu-title">角色</span>
          <i class="menu-arrow"></i>
        </div>
        <div class="collapse" :class="{show: !collapsed && sel('/platform/role/')}">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item" @click="hrefTo('/platform/role/list')">
              <div class="nav-link a-link">列表</div>
            </li>
            <li class="nav-item" @click="hrefTo('/platform/role/add_or_update')">
              <div class="nav-link a-link">添加</div>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <div class="nav-link a-link" @click="hrefTo('/platform-ui/home')" title="UI演示">
          <i class="ti-more menu-icon"></i>
          <span class="menu-title">UI演示</span>
        </div>
      </li>
    </ul>
  </div>
</nav>
