.sidebar {
  background-color: rgba(255, 255, 255, 0.8) !important;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);

  .menu-title {
    margin-left: 12px !important;
  }

  .nav-link {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .sidebar-in {
    position: fixed;
    top: 70px;
    left: 0;
    width: inherit;
  }

  .nav-item {
    position: relative;

    .mt-icon,
    .menu-icon {
      font-size: 1.8rem !important;
      color: #555;
    }
  }

  .nav:not(.sub-menu) > .nav-item.active {
    > .nav-link {
      background-color: #0276f8 !important;
  

      .menu-title {
        color: #fff !important;
        font-weight: bold;
        font-size: 1.1rem;
      }

      .mt-icon,
      .menu-icon {
        color: #fff;
      }
    }

    > .nav-link:hover {
      background-color: #0561ca;

      .mt-icon,
      .menu-icon {
        color: #fff;
      }
    }

    .sub-menu {
      padding-left: 2rem !important;
      background-color: #1680fa;
      color: #fff;

      .nav-item::before {
        top: -0.2rem !important;
        left: 0.7rem;
        width: 8px;
        height: 2px;
        background: #ddd !important;
      }

      .nav-item {
        .nav-link {
          color: #eee;
          padding-top: 0.6rem !important;
          padding-bottom: 0.6rem !important;
          padding-left: 2rem !important;
        }

        .nav-link:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
