.setech-dialog-running {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;

  .setech-dialog-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .setech-dialog-inner {
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .setech-dialog-win {
    width: 300px;
    padding: 32px 24px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 1px 3px 10px rgba($color: #000000, $alpha: 0.3);

    .setech-dialog-img {
      margin-bottom: 12px;
      text-align: center;
      img,
      svg {
        display: inline-block;
        width: 64px;
        height: 64px;
      }
    }

    .setech-dialog-message {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}
