
.ac-btns {
ion-button {
    --padding-start: 12px;
    --padding-end: 12px;
  }

  .danger {
      --background: red !important;
      color: #fff;
  }
}

.avatar {
  img {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 26px;
    overflow: hidden;
    border: 1px solid #333;
  }
}