<div class="component--header">
  <div class="box-header">
    <div class="wrap  flex">
      <div class="logo-area a-link" @click="hrefTo('/platform/home')">
        Calendar
      </div>
      <div class="nav nav-left flex-1">
      </div>
      <div v-if="isLogin && sess" class="dropdown header-profile-menu">
        <div class="mr-1 username" v-if="sess.userName" >{{sess.userName}}</div>
        <div class=" flex user-info dropdown-toggle" id="dropdownMenuProfile" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="flex">
            <div class="header-img">
              <img v-if="sess.headImage" :src="sess.headImage" alt="" />
              <img v-else src="./../../assets/images/faces/face1.jpg" alt="" />
            </div>
          </div>
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuProfile">
          <li><a class="dropdown-item" @click="logout()">退出登录</a></li>
        </ul>
      </div>
      <div @click="hrefTo('/public/home')" v-else class="header-profile-menu">
        <div class="user-info" id="dropdownMenuProfile">
          <div>
            <div class="header-img">
              <img src="./../../assets/images/head.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
