@import '../../style/vars';
.component--header {
  .box-header {
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    color: #fff;
    background-color: #fff;
    min-width: $console-container-max-width;

    position: fixed;
    z-index: 99;

    // box-shadow: $header-box-shadow;
    >.wrap {
      padding-right: 0.675rem;
      background-color: $header-background-color !important;
      height: $header-height;
    }

    .header-profile-menu {
      align-items: center;
      display: flex;
      height: 100%;
      .username{
        font-size: 16px;
        width: 80px;
      }
      .dropdown-menu {
        li {
          a {
            line-height: 30px;
            text-align: center;
          }
        }
        li:not(:last-child){
          border-bottom: 1px #E6EAF0 solid;
        }
      }

      .dropdown-toggle:after {
        font-size: 18px;
      }
    }

    .logo-area {
      // font-size: 1.4rem;
      // font-weight: 600;
      // text-align: center;
      margin-left: 2.375rem;
      margin-right: 2.375rem;
      font-size: 1.8rem;
      font-weight: bold;

      // cursor: pointer;
      img {
        width: 200px;
      }
    }

    .nav {
      height: 100%;
      width: 100%;
      align-items: flex-end;
    }

    .nav-item {
      font-size: 18px;
      border-radius: 20px 20px 0px 0px;
      height: 48px;
      line-height: 48px;
      background: #6b93d3;
      transition-duration: 0.3s;
      cursor: pointer;
      text-align: center;
      margin-right: 0.3rem;
      padding: 0 20px;
    }

    .nav-item:hover {
      font-weight: bold;
      background-color: rgba($color: #fff, $alpha: 0.2);
      transition-duration: 0.3s;
    }

    .nav-item.selected {
      font-weight: bold;
      background-color: #fff;
      transition-duration: 0.3s;
    }

    .user-info {
      margin-right: 16px;
      cursor: pointer;

      .header-img {
        margin: 0 auto 0px;
        text-align: center;
        width: 36px;
        height: 36px;
        img {
          height: 100%;
          border-radius: 100%;
          overflow: hidden;
        }
      }
    }
    @media screen and (max-width:1630px) {

      .nav-item {
        padding: 0 18px;
      }
    }
    @media screen and (max-width:1590px) {

      .nav-item {
        padding: 0 15px;
      }
    }
    @media screen and (max-width:1530px) {

      .nav-item {
        padding: 0 10px;
      }
    }
    @media screen and (max-width:1430px) {

      .nav-item {
        padding: 0 5px;
      }
    }
    @media screen and (max-width:1330px) {

      .nav-item {
        padding: 0 4px;
      }
    }
  }
}

