<div id="page-pl-app-add_or_update">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4
            class="card-title d-flex align-items-center justify-content-between justify-content-md-center justify-content-xl-between"
          >
            <span>详情 - {{title}}</span>
            <span class="a-blue a-link">
              <i class="ti-angle-double-left menu-icon"></i>
              <span class="menu-title" @click="hrefBack">返回</span>
            </span>
          </h4>
          <div class="col-8" v-if="item">
            <div class="form-group row" v-for="(v,k) in item">
              <label for="form.name" class="col-sm-3 col-form-label">{{k}}</label>
              <div class="col-sm-9">
                <pre class="form-control form-control-textarea monospaced-font">{{v}}</pre>
              </div>
            </div>
            </div
          >
        </div>
      </div>
    </div>
  </div>
</div>
