<div class="page-calendar-add">
  <h4 class="flex pb-3">
    <div class="action-back mr-1" @click="hrefBack"><i class="mt-icon arrow_back"></i></div>
    <div class="flex-1">日历 - {{modelTitle}}</div>
  </h4>
  <div class="col-6">
    <form class="forms-sample">
      <div class="form-group mt-3">
        <input class="form-control" v-model="form.bid" placeholder="日历ID" />
      </div>
      <div class="form-group mt-3">
        <input class="form-control" v-model="form.title" placeholder="标题" />
      </div>
      <div class="form-group mt-3">
        <textarea class="form-control" v-model="form.content" rows="8" placeholder="请输入日历文本内容"></textarea>
      </div>
      <div class="form-images">
        <div class="cell" v-for="(item, index) of imagesArr">
          <img class="cell-image" :src="file(item)" alt="" />
          <span class="tag-close" @click="onRemove(item)"> <i class="mt-icon close"></i></span>
        </div>
        <div class="cell" @click="uploadFile">
          <div class="flex">
            <div class="flex-1">
              <i class="mt-icon add"></i>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary mr-2" @click="submitFormEdit">{{modelButton}}</button>
      <button type="button" class="btn btn-light" @click="hrefBack">取消</button>
    </form>
  </div>
</div>
