.page-calendar-add {
  .form-images {
    padding: 32px 0 16px 0;

    .cell {
      position: relative;
      display: inline-block;
      width: 72px;
      height: 72px;
      font-size: 2rem;
      color: gray;
      text-align: center;
      margin-right: 16px;
      margin-bottom: 16px;

      img {
        display: inline-block;
        width: 100%;
        height: 100%;
      }

      .flex {
        border: 2px solid #aaa;
        width: 100%;
        height: 100%;
      }

      .tag-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 22px;
        height: 22px;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
      }
    }
  }
}
