<div class="page-bootstrap">
  <div class="page-box flex">
    <div class="items">
      <a class="btn btn-primary btn-rounded btn m-2 goto-btn flex-v" :href="mao('/public/home')" target="_blank">
        <span class="flex">
          <i class="mt-icon touch_app"></i>
          <span class="b">Get started</span></span
        >
      </a>
      <div class="version">Version: <span class="b">v{{version}}</span></div>
      <br />
      <br />
      <a class="a-link mr-2" :href="mao('/public/icons-light')" target="_blank">ICONS(light)</a>
      <a class="a-link mr-2" :href="mao('/public/icons-dark')" target="_blank">ICONS(dark)</a>
      <a class="a-link mr-2" :href="mao('/public/example')" target="_blank">UI model</a>
      <a class="a-link mr-2" :href="mao('/public/test')" target="_blank">Test</a>
      <br />
    </div>
    >
  </div>
</div>
