// 自定义样式
$font-family-base: "Helvetica Neue",
Helvetica,
Arial,
"PingFang SC",
"Hiragino Sans GB",
"Heiti SC",
"Microsoft YaHei",
"WenQuanYi Micro Hei",
sans-serif;
$font-size-root: 62.5%;
$font-size-base: 1.2rem;

html,
body {
    font-size: 0.9rem;
}

.clean::after {
    content: "";
    height: 1px;
    display: block;
    clear: both;
}

ul,
li {
    list-style: none;
}


.flex-h,
.flex-v,
.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-h,
.flex-v,
.flex {
    /* display: box; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    /* 横向 */
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    /* 默认垂直居中 */
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-v {
    /* 横向 */
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-1,
.flex-grow {
    -prefix-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-2 {
    -prefix-box-flex: 2;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.flex-3 {
    -prefix-box-flex: 3;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.flex-4 {
    -prefix-box-flex: 4;
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -moz-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

.flex-5 {
    -prefix-box-flex: 5;
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -moz-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

.flex-start {
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
}

.flex-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.selectall {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.h1 {
    margin-top: 48px;
    margin-left: 20px;
    width: 142px;
    height: 25px;
    font-size: 1.6rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #353535;
    line-height: 25px;
}

.kaihuguanli-font {
    width: 54px;
    height: 17px;
    font-size: 1.2rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #353535;
    line-height: 17px;
}

.input-css {
    position: absolute;
    left: 650px;
    padding-left: 11px;
    width: 300px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
}

html,
html body,
#main,
#app {
    width: 100%;
    height: 100%;
}

#main {
    .table {
        border: 2px solid rgb(187, 187, 187);

        thead {
            background-color: #F5F6FA;

            th {
                border-bottom-color: rgb(187, 187, 187);

            }
        }
    }

}

.col {
    margin-bottom: 16px;
}

.card {
    margin-bottom: 16px;
    margin-right: 16px;
    box-shadow: 0px 1px 5px 0px #dadada;
}

.card.card-mutil {
    display: inline-block;
    width: 100%;
    min-width: 250px;
    max-width: 500px;
}

.card .card-stat {
    b {
        font-size: 1.4rem;
        font-weight: bold;
        margin-right: 4px;
    }
}

.badge {
    background-color: #888;
    color: #fff;
    font-weight: normal;
    margin-right: 12px;
    font-size: 0.8rem;
}

.card-text {
    margin-bottom: 4px;
}

.card-btns {
    padding: 6px 0;
}

.money-color {
    color: red;
}

@import "table.scss";

.ant-form-item {
    margin-bottom: 8px;
}

.ant-form-item:last-child {
    margin-bottom: 0px;
}

.ant-upload.ant-upload-select-picture-card,
.ant-input {
    border-color: #ccc !important;
}

.ant-upload {
    img {
        max-width: 200px;
    }
}