<template v-if="$props.data">
  <a
    v-if="!$props.data.children && ($props.data.islink || $props.useLink)  &&( $props.data.isopen ||  $props.data.isopen == undefined)"
    class="tree-node"
    :class="{'tree-node-expand': $props.parentExpand && $props.data.expand, 'selected': $props.data.selected}"
    :href="mao($props.data.path?$props.data.path:'#')"
    :target="$props.data.target?$props.data.target:null"
    :data-key-id="$props.data.nodeId"
    :style="{display: $props.parentExpand ? null : 'none'}"
    :title="$props.data.name"
    @click="$props.nodeClick($props.data, $event)"
  >
    <span class="tree-node-line-v" v-for="i in $props.level"></span>
    <i class="mt-icon insert_drive_file"></i>
    <span class="name">{{$props.data.name}}</span>
  </a>
  <div
    v-if="!(!$props.data.children && ($props.data.islink || $props.useLink) )"
    class="tree-node"
    :class="{'tree-node-expand': $props.parentExpand && $props.data.expand, 'selected': $props.data.selected}"
    :data-expand="$props.data.expand?'1':'0'"
    :style="{display: $props.parentExpand ? null : 'none'}"
    :title="$props.data.name"
    @click="$props.nodeClick($props.data, $event)"
  >
    <span class="tree-node-line-v" v-for="i in $props.level"></span>
    <i v-if="$props.data.children" class="mt-icon arrow_forward_ios"></i>
    <i v-else class="mt-icon insert_drive_file"></i>
    <span class="name">{{$props.data.name}}</span>
  </div>
  <template v-if="$props.data.children">
    <template v-for="(item,index) in $props.data.children">
      <md-tree-node
        :data="item"
        :level="level+1"
        :options="options"
        :useLink="$props.useLink"
        :parentExpand="$props.parentExpand && $props.data.expand"
        :nodeClick="$props.nodeClick"
      ></md-tree-node>
    </template>
  </template>
</template>
