#page-pl-app-to-list {
  height: 100% !important;
  overflow: visible;

  .apps-container {
    min-height: 100% !important;
    text-align: center;

    .apps-box {
      min-height: 100% !important;
      width: 70%;

      button {
        text-align: center;
        margin: 1em;
        display: inline-block;
        border: none;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
      }

      img {
        width: 4em;
        display: block;
        margin-bottom: 0.5em;
        display: inline-block;
      }
    }
  }
}
