<div id="page-pl-app-to-list">
  <div class="apps-container d-flex align-items-center justify-content-center">
    <div class="apps-box">
      <h3 class="text-muted">进入应用</h3>
      <div class="apps-area">
        <button type="button" class="btn btn-lg btn-light" @click="loginTo(item)" v-for="(item,i) in reqData">
          <img :src="fruitPath(item.id)" alt="" />
          <div class="single-line">{{item.name}}</div>
        </button>
      </div>
    </div>
  </div>
</div>
