@import '../../style/vars';
.component--footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $foot-height;
  overflow: hidden;

  .inner {
    padding-left: $menu-width;

    .box-footer {
      padding: 16px 16px;
      color: #aaa;
      font-size: 0.9rem;

      .b {
        font-weight: bold;
        color: gray;
      }
    }
  }
}
