<div class="component--footer">
  <div class="inner">
    <div class="box-footer flex">
      <div class="c1 flex-1 text-center">Star Energy .TECH 2018 ~ 2022</div>
      <div class="c2" @click="toggleDebugTag">Current version: v{{version}}</div>
    </div>
  </div>
</div>
