
@import '../../../style/vars';
.page-platform {
  width: 100%;
  height: 100%;
  position: relative;

  .box-menu {
    top: 0;
    left: 0;
    width: $menu-width;
    height: 100%;
    background-color: #fff;

    position: fixed;
    z-index: 98;

    .menu-pad {
      padding-top: $header-height;
      width: 100%;
    }

    .menu-box {
      width: 100%;
      border-right: $menu-border-right;
      box-shadow: $menu-box-shadow;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #2864C4;
    }
  }

  .box-panel {
    padding-top: $header-height + $link-bar-height;
    padding-left: $menu-width;
    padding-bottom: $foot-height;
    position: relative;
    min-height: 100%;
    background-color: $console-background-color;
  }
}
