<div class="page-platform">
  <md-header></md-header>
  <div class="box-menu flex-v">
    <div class="menu-pad"></div>

    <div  class="menu-box flex-1">
      <md-tree-view :data="menuData" :options="menuOptions" :useLink="true" :click="onMenuClick"></md-tree-view>
    </div>
   
  </div>
  <div class="box-panel">
    <md-link-bar :filters="['/platform']" :routers="routers"></md-link-bar>
    <div class="box-main box-shadow"><router-view /></div>
    <md-footer></md-footer>
  </div>
</div>